//-------------------------------------------------------------------------------
// Setting the rems globally
//-------------------------------------------------------------------------------

body.single-post { // shound be html
  font-size: $font-normal;
}
  // @media screen and (min-width: 1440px) {
  //    body.single-post { 
  //     font-size: $font-large; 
  //    }
  //  }
  @media screen and (max-width: 500px) {
    body.single-post { 
      font-size: $font-small;
    }
  }



//-------------------------------------------------------------------------------
// Review Containers
//-------------------------------------------------------------------------------


.review {
	font-size: 0.875rem;
	line-height: 1.125rem; 
	border: none; 
	border-bottom: 1px solid #ccc;

	.review-meta {
		display: block; 
		float: left; 
		padding: $spacing-big; 
		color: $review-meta-color;

		.review-meta-left { 
			margin-right: $spacing-medium;
		}

		.review-meta-right {
			padding: $spacing-medium $spacing-medium 0 $spacing-medium; 
			margin-left: $spacing-big; 
			margin-bottom: $spacing-medium;
		}

	} 

}


// Tablet view with left dropdown nav
@media screen and (max-width: $bp-tablet ) {

	// Kill content padding
	body.single-post #content {
		width: 100%; 
		margin: 0;
		padding: 0;
	}

	// But now add padding to similar posts
	body.single-post .similar {
		width: 96%;
		margin-right: auto;
		margin-left: auto;
	}

	// Flex magic for ordering
	.review {

		.review-meta {
			width: 100%;
			padding: 0;
			float: none;
			display: flex; 
			flex-flow: column;

			.review-meta-left { 
				width: 100%; 
				order: 1;
				margin-bottom: $spacing-big;
				margin-right: none;
			}
			.review-meta-right {
				width: 90% !important; 
				padding: 5%;
				padding-bottom: 0;
				display: block;
				order: 2;
				margin-left: 0;
			}

		} 

	}

}

//-------------------------------------------------------------------------------
// Review Content
//-------------------------------------------------------------------------------

.review {

	.review-meta {

		.review-type {
			text-transform: uppercase; 
			font-size: 0.75rem; 
			color: #999;
		}

		.review-title {

			a {
				border: none;
			}

			.fav-add {
				display: inline-block; 
				height: $review-heart ; 
				width: $review-heart ;
			}

			.fav-remove {
				display: inline-block; 
				height: $review-heart ; 
				width: $review-heart ;
			}

			svg.heart-add {
				height: $review-heart ; 
				width: $review-heart ;
			}

			svg.heart-remove {
				height: $review-heart ; 
				width: $review-heart ;
			}

			h1 {
				font-size: 2.375rem; 
				line-height: 2.625rem; 
				margin-bottom: $spacing-medium; 
				color: #222;
			}


		}

		.review-content {
			font-size: 1.375rem; 
			line-height: 1.75rem; 
			margin-bottom: $spacing-medium; 
			color: $review-body-color;

			a {
				color: $color-main-link;
				border-bottom: 1px dotted $color-main-link;
			}

			a:hover {
				color: $color-main-link;
				border-bottom: 1px solid $color-main-link;
			}

			blockquote {
				font-size: $spacing-medium; 
				font-style: italic;
				color: $review-testi-color;

				a {
					color: $review-testi-color;
					border-bottom: 1px dotted $review-testi-color;
				}
			}

		}


		.review-meta-right {

			ul {

				margin-bottom: $spacing-medium;

				li {
					margin-bottom: $spacing-small;

					a {
						color: $color-main-link;
						border-bottom: none;
					}

					a:hover {
						color: $color-main-link;
						border-bottom: 1px solid $color-main-link;
					}
				}

			}

		}

	}

}




// Review Posts Tags + Cats
.review .review-meta .review-tags a, 
.review .review-meta .review-cats a {color: #AAA; border: 1px solid #ccc; text-transform: capitalize;}
.review .review-meta .review-tags a:hover, 
.review .review-meta .review-cats a:hover { color: $color-main-link;border: 1px solid $color-main-link;}
.review .review-meta .review-cats {line-height: 30px; margin-bottom: 20px;}
.review .review-meta .review-cats strong,
.review .review-meta .review-tags strong {display: block; font-size: 10px; text-transform: uppercase; line-height: 10px; margin-bottom: 5px;}
.review .review-meta .review-tags {line-height: 35px;}
.review .review-meta .review-tags a, 
.review .review-meta .review-cats a {height: 30px; padding: 4px 9px;text-decoration: none; margin: 0 5px 30px 0 !important; white-space: nowrap; background: none;}

/* Meta Box */
.review .review-meta .review-launch {margin-bottom: 20px;}
.review .review-meta .review-date {margin-bottom: 10px;}
.review .review-meta .review-unique {margin-bottom: 10px;}
.review .review-meta .review-price {margin-bottom: 10px;}
.review .review-meta .review-developer {margin-bottom: 20px;}
.review .review-screenshot img {}
.review .review-screenshot a.noBorder:hover {opacity: 1;}

/* Comments */
.review .review-notes {
	padding: 40px 40px 40px 40px;
}
	.review .comments-tweet-email {
		width: 50%; 
		display: block;
		float: left;
	}
	.review .opl-ad-holder-premium {
		float: right;
		width: 50%;
		display: block;
	}

	@media screen and (max-width: 840px) {
		.review .comments-tweet-email {
			width: 100%; 
			display: block;
			float: none;
			padding-bottom: 40px;
		}
		.review .opl-ad-holder-premium {
			border-top: 1px solid #EEE; 
			padding-top: 40px; 
			float: none;
			width: 100%;
			display: block;
			clear: both;
			margin-top: 40px;
		}
	}

/* Similar */
.similar-title {margin: 40px 0 40px 0;}

/* Floating pagination: arrows on sides of browser */
.floating-pagi a {display: block;position: fixed;top: 50%; width: 60px; height: 60px; outline: none;}
.floating-pagi .floating-pagi-next a {left: 30px; -webkit-transform: rotate(-180deg);-moz-transform: rotate(-180deg);-ms-transform: rotate(-180deg);-o-transform: rotate(-180deg);filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);}
.floating-pagi .floating-pagi-prev a {right: 30px; }
.floating-pagi svg {width: 60px; height: 60px;}
.floating-pagi svg {fill: #999;}
.floating-pagi:hover svg {fill: $color-main-link;}
.floating-pagi a:hover {border: none; text-decoration: none;}

/* Review notice */
.single-container .review-notice {
	font-size: 18px; 
	line-height: 24px; 
	background: #ffc3da; 
	color: $color-darker-link; 
	border: 1px solid #feb0ce; 
	padding: 10px 20px;
	margin-bottom: 20px;
}

//-------------------------------------------------------------------------------
// Author Styles
//-------------------------------------------------------------------------------

.blog-author {
	display: flex;
    align-items: center;
	border: none;
	margin: 0 auto 0 auto;
	padding-top: 0;
	padding-bottom: 0;
	max-width: 640px;

	p {
		// font-size: 1rem;
		// line-height: 1.375rem;
		// letter-spacing: 0rem;
		padding: 0;
		margin: 0;

	}

	@media screen and (max-width: 768px) {
		width: 100%;
	}

	.author-image {
		display: block;
		flex: 0 0 auto;
		width: 60px;
		height: 60px;

		@media screen and (max-width: 400px) {
			width: $spacing-big;
			height: $spacing-big;
		}			

		img {
			max-width: 100%;
			max-height: 100%;
			border-radius: 50%;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
		}
	}


	.author-info {
		flex: 1 1 auto;
		padding-left: $spacing-medium;

		.author-name {
			font-weight: bold;
			display: block;
			margin-bottom: $spacing-small;
		}

		.author-bio {

			a {
				// color: $blog-body-color;
				// border-bottom-color: $blog-body-color;
			}
		}
	}
	
}

//-------------------------------------------------------------------------------
// Review - Advertisting
//-------------------------------------------------------------------------------

.review-ad-holder {
    box-shadow: 0 -1px 0 #DDD;
	border-top: 1px solid #FFF;
	height: 150px;
	display: block; 
	clear: both;

	@media screen and (max-width: $bp-notebook ) {
		height: 105px;
	}
	@media screen and (max-width: $bp-tablet ) {
		height: 75px;
	}

	.opl-ad {
		display: flex;
		flex-direction: row;
		height: 150px;
		align-items: center;

			@media screen and (max-width: $bp-notebook ) {
				flex : 0 0 120px;
				height: 105px;
			}
			@media screen and (max-width: $bp-tablet ) {
				flex : 0 0 85px;
				height: 70px;
			}

		.opl-ad-img {
			vertical-align: top;
			flex : 0 0 140px;

				@media screen and (max-width: $bp-notebook ) {
					flex : 0 0 120px;
				}
				@media screen and (max-width: $bp-tablet ) {
					flex : 0 0 85px;
				}

			img {
				width: 130px; 
				height: auto; 

				@media screen and (max-width: $bp-notebook ) {
					width: 100px;
				}
				@media screen and (max-width: $bp-tablet ) {
					width: 65px;
				}
			}

		}

		.opl-ad-info {
			color: #666; 
			font-size: 0.8125rem; 
			line-height: 1.063rem; 
			flex : 1 1 auto;

			a {
				color: #333;
			}

			a:hover {
				color: $color-main-link;
				border-bottom: none;
			}

		}

	}

}

//-------------------------------------------------------------------------------
// Remote Jobs & Hustle Panda
//-------------------------------------------------------------------------------


.meta-post {
	box-shadow: 0 -1px 0 #DDD;
	border-top: 1px solid #FFF;
	padding-top: $spacing-medium;
    padding-bottom: $spacing-medium;
    display: flex;
	flex-direction: row;
	align-items: center;
    justify-content: center;

    .meta-image {

		vertical-align: top;
		flex : 0 0 55px;

    	img {
    		max-width: 40px;
    		height: auto;
    		border-radius: 20px;

    	}
    }

    .meta-info {

		flex : 1 1 auto;

	    a {
			color: #333;
	    	border-bottom: none;
	    	text-decoration: none;
	    	font-weight: 600;

	    }

	    a:hover {
	    	color: $color-main-link;
	    	border-bottom: none;
	    	text-decoration: none;
	    }

    	.meta-detail {

    		font-size: 0.875rem;
    		line-height: 0.875rem;
    		margin-bottom: $spacing-tiny;

    	}

    	.meta-all {

    		font-size: 0.75rem;
    		line-height: 0.75rem;

    		a {
    			color: #AAA;
    			font-weight: 300;
    		}

    		a:hover {
    			color: $color-main-link;
    		}
    	}

    }
}
