// variables
$color-header-top    : #141414
$color-header-bottom : #1E1E1E
$color-browser-bg    : #E2E2E2
$color-page-bg       : #FFFFFF
$color-footer-top    : #141414
$color-footer-bottom : #1A1A1A
// Pink from logo
$color-main-link     : #FD6CA3 
$color-darker-link   : #EC3D80
$color-darkest-link  : #D52468
$color-blue-link     : #11C1f4