//-------------------------------------------------------------------------------
// Setting the rems globally
//-------------------------------------------------------------------------------

html {
  font-size: $base-normal;
}
@media (min-width: $bp-desksm) {
	html { 
		font-size: $base-large; 
	}
}
@media (max-width: $bp-mobile) {
	html { 
		font-size: $base-small;
	}
}


//-------------------------------------------------------------------------------
// The big boys
//-------------------------------------------------------------------------------

html, 
body {
  height: 100%; 
  -webkit-tap-highlight-color: rgba(0,0,0,0); // disable webkit tap highlight
}

body {
  @extend %font-global;
  padding: 0;
  margin: 0;
}


//-------------------------------------------------------------------------------
// The usual suspects
//-------------------------------------------------------------------------------

* {
  margin: 0;
}

html, body {
  height: 100%;
}

img {
  border: 0;
}

a img {
  border: none;
  vertical-align: top;
}

p {
  margin: 0 0 0.9375rem 0; // 15px
}

.relative {
  position: relative;
}

li {
  list-style: none;
}

.clear {
  clear: both;
}

// removes yellowing on forms
*:focus, textarea, input {
  outline: none;
}

.alignleft {
  float: left;
  margin: 0 $spacing-medium $spacing-medium 0;
}

.alignright {
  float: right;
  margin: 0 0 $spacing-medium $spacing-medium;
}

.aligncenter {
  margin: 0 auto;
  text-align: center;
}

.alignnone {
  float: none;
  margin-bottom: $spacing-medium ;
}

hr {
  border: none;
  height: 1px;
  display: block;
  margin: $spacing-big 0;
  border-bottom: 2px dotted #DDD;
}

b, strong {
  font-weight: 600;
}

del {
  text-decoration: line-through;
  color: #CCC;
}

blockquote {
  @extend %font-bloc;
  margin: $spacing-big 0 $spacing-big 0px;
  padding: 0 $spacing-medium 0 $spacing-medium;
  border-left: 1px solid #EEE;
}
blockquote p {
	color: #AAA !important;
}

i, em {
  font-style: italic;
}

code {
  display: block;
  padding: $spacing-medium;
  overflow: hidden;
  background: $color-code;
}

// Highlights notice within paragraph text
.notice {
	background: #ffc3da; 
	border: 1px solid #feb0ce; 
	color: #EC3D80;
	width: 1240px; 
	padding: $spacing-s-m $spacing-medium ; 
	margin-bottom: $spacing-big;
}

//-------------------------------------------------------------------------------
// Background Colors
//-------------------------------------------------------------------------------

html                  {background: $color-browser-bg;}
#header-top-outer     {background: $color-header-top;} 
#header-bottom-outer  {background: $color-header-bottom;} 
#footer-top-container {background: $color-footer-top ;} 
#footer-container     {background: $color-footer-bottom;}
.review               {background: $color-page-bg;}
.single-container     {background: $color-page-bg;}

//-------------------------------------------------------------------------------
// Link Colors
//-------------------------------------------------------------------------------

a {
  color:$color-main-link;
  text-decoration:none;
}
a:hover {
  color:$color-main-link;
  text-decoration:none;
}
.single-container p a, 
.review p a {
  color:$color-main-link;
  border-bottom: 1px dotted $color-main-link;
  text-decoration:none;
}
.single-container p a:hover, 
.review a:hover {
  color:$color-main-link;
  border-bottom: 1px solid $color-main-link;
  text-decoration:none;
}
a.noBorder {
  border: none !important;
}
a.noBorder:hover {
  opacity: 0.95;
}

//-------------------------------------------------------------------------------
// CSS3 Transitions
//-------------------------------------------------------------------------------

.thumb .thumb-image img       {transition:1s;}
.thumb .thumb-image img:hover {transition:.1s;}

//-------------------------------------------------------------------------------
// Z-index 
//-------------------------------------------------------------------------------

.thumb .thumb-inner                       	{z-index: 100}
.thumb .thumb-image             			{z-index: 200}
.thumb .thumb-label             			{z-index: 400}
#header-top-left ul                       	{z-index: 500}
#header-top-right ul.account-logged-in    	{z-index: 500}
#header-bottom-left ul                    	{z-index: 500}
#header-top-left ul 						{z-index: 5000}
.floating-pagi                				{z-index: 1000}
#header-top-mid 							{z-index: 2000}
#mobile-nav-button 							{z-index: 2000}
.mobile-navigation 							{z-index: 3000}
.mobile-navigation 							{z-index: 3000}
#footer-container 							{z-index: 4000} // To hide the floating nav over footer

//-------------------------------------------------------------------------------
// Text Select
//-------------------------------------------------------------------------------


::selection {
	background: $color-main-link; 
	color: $color-white; 
	text-shadow: none; 
}
::-moz-selection {
	background: $color-main-link; 
	color: $color-white; 
	text-shadow: none;
}
#header-container ::selection,
#footer-container ::selection {
	background: $color-white; 
	color: #222; 
}



//-------------------------------------------------------------------------------
// Promo 
//-------------------------------------------------------------------------------

// Hides the big OPL heart placed after body open tag for social sharing.
#promo {display: none;}

//-------------------------------------------------------------------------------
// Mobile Only - so hiding on default 
//-------------------------------------------------------------------------------

#header-top-mid,
.mobile-navigation,
.review .review-meta-mobile {
	display: none;
}

// ------------------------------------------------
// Roundup Buttons
// ------------------------------------------------ 

.theme-options-down a, // needs to get phased out
a.roundup-buy { // needs to get phased out
	float: left; 
}

a.roundup-demo { // needs to get phased out
	float: left; 
	margin-top: -1.75rem; // 28
}

.theme-options-demo a { // needs to get phased out
	float: left;
}

.theme-options-down a, // needs to get phased out
.theme-options-demo a, // needs to get phased out
a.roundup-buy, // needs to get phased out
a.roundup-demo, // needs to get phased out
a.button-fill,
a.button-border { 
	text-align: center; 
	font-size: 0.875rem; // 14
	line-height: 0.875rem; 
	text-transform: uppercase; 
	display: inline-block;
	border-radius: $rounded-corners;
	border-width: 2px !important; // to override the 1px global border styles
	border-style: solid !important; // to override the dotted global border styles
	border-color: $color-main-link;
	font-weight: 600;  
	text-decoration: none;
	padding: $spacing-small $spacing-medium;
	margin-right: $spacing-small;
	font-weight: 600;
}

.theme-options-demo a, // needs to get phased out
a.roundup-buy, // needs to get phased out
a.button-fill {
	background-color: $color-main-link;
	color: $color-white !important;
}

//-------------------------------------------------------------------------------
// General Styles - still sorting
//-------------------------------------------------------------------------------

/* Rounded Corners 4px */
.thumb, 
.browsing a, 
.browsing .current, 
.block-right,
.review,
.review-launch a,
.review .review-meta-right,
.single-container,
.single-container img.alignleft,
.single-container img.alignright,
.results-search .search,
#mce-FNAME, 
#mce-EMAIL,
.name-tag,
.footer-promo-buttons a,
#mc-embedded-subscribe,
#header-bottom-right .search,
.gform_body input,
.gform_wrapper .gfield_password_strength,
.gform_wrapper .gform_footer input[type=submit],
.join-benefits,
.gform_body textarea  
{border-radius: $rounded-corners;}

ul.account-logged-out li a
{border-radius: $rounded-buttons;}

/* Rounded Corners 4px top edges only */
.thumb .thumb-image img,
.thumb-details {
border-top-left-radius: 4px;
border-top-right-radius: 4px;
}

/* Rounded Corners 4px bottom edges only */
#header-top-left ul li ul,
#header-bottom-left ul li ul,
#header-top-right ul.account-logged-in li ul {
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;
overflow:hidden;
}
