
// Heading Font: Proxima Nova Soft 
.header-logo a,
.archive-title,
.archive-title h1, 
.review .review-title h1,
.similar-title,
.single-title,
.single-container h1,
.single-container h2,
.single-container h3,
.footer-column h3,
.footer-promo-title,
.thumb .thumb-info .thumb-title .thumb-name h2,
#header-bottom-left ul li a,
.notice,
.dashboard-section {
	@extend %font-heading;
}



/* ------------------------------------------------ */
/* 03. Font Sizes & Weights & Letter Spacing */
/* ------------------------------------------------ */

/* Archives */
.archive-header {}
.archive-header-info {}
.archive-title {font-size: 32px; line-height: 32px;}
.archive-title h1 {font-size: 32px; line-height: 32px;}
.archive-description {font-size: 16px; line-height: 18px; font-weight: 300;}
.archive-description a {font-weight: 600;}
.archive-header-ad {}
.thumb .thumb-info .thumb-title .thumb-name h2 {font-weight: 600;letter-spacing: 0;}	
.thumb-details-links a {font-size: 11px;letter-spacing: 0;}
.browsing a, 
.browsing .current {font-weight: 300;}

/* Single Template: Pages, Interviews, Blog, Roundups */
.single-container h1 {font-size: 42px; line-height: 42px;}
.single-container h2 {font-size: 34px; line-height: 38px;font-weight: 500;}
.single-container h3 {font-size: 26px; line-height: 32px;font-weight: 500;}
.single-container p {font-size: 20px; line-height: 28px; font-weight: 300;}
.single-container ul, 
.single-container ol {font-size: 20px; line-height: 28px; font-weight: 300;}
.block-right, .block-right p {font-size: 14px; line-height: 22px; font-weight: 300;}

/* Reviews */
.review {}
.similar-title {font-size: 18px; line-height: 18px; font-weight: 300;}
.name-tag {font-weight: 300;}
.review .review-meta .review-tags a, 
.review .review-meta .review-cats a {font-weight: 300;}

/* Footer */
.footer-promo-title {font-size: 16px; line-height: 18px; font-weight: 300; letter-spacing: 0;}
.footer-promo-info {font-size: 14px; line-height: 18px; font-weight: 300; letter-spacing: 0;}
.footer-promo-buttons a {font-size: 12px; letter-spacing: 0; font-weight: 600;}
#mc-embedded-subscribe {font-weight: 600;}
#footer h3 {font-size: 16px; line-height: 16px; font-weight: 300; letter-spacing: 0;}

/* Misc */
blockquote p {font-size: 22px;  font-style: italic; line-height: 24px;}
a.roundup-buy, 
a.roundup-demo {font-weight: 600;}
.theme a.table-button {font-weight: 600;}
.theme h3.theme-feature {font-weight: 300; }
.theme-options a  {font-weight: 600;}
.opl-ad-info a {font-weight: 700;}
.notice {font-size: 16px; line-height: 20px; font-weight: 500; letter-spacing: 0;}
.dashboard-section {font-size: 16px; line-height: 20px; font-weight: 500; letter-spacing: 0;}
.favorites-demo .favorites-demo-col {font-size: 18px; line-height: 22px; font-weight: 300;  letter-spacing: 0px;}

