//-------------------------------------------------------------------------------
// Setting the rems globally
//-------------------------------------------------------------------------------
	
html {
	font-size: $base-normal;
}
@media (min-width: $bp-desksm) {
	html { 
		font-size: $base-large; 
	}
}
@media (max-width: $bp-mobile) {
	html { 
		font-size: $base-small;
	}
}


//-------------------------------------------------------------------------------
// The big boys
//-------------------------------------------------------------------------------

html, 
body {
  height: 100%; 
  -webkit-tap-highlight-color: rgba(0,0,0,0); // disable webkit tap highlight
}

body {
  @extend %font-global;
  padding: 0;
  margin: 0;
}


//-------------------------------------------------------------------------------
// The usual suspects
//-------------------------------------------------------------------------------

* {
  margin: 0;
}

html, body {
  height: 100%;
}

img {
  border: 0;
}

a img {
  border: none;
  vertical-align: top;
}

p {
  margin: 0 0 0.9375rem 0; // 15px
}

.relative {
  position: relative;
}

li {
  list-style: none;
}

.clear {
  clear: both;
}

// removes yellowing on forms
*:focus, textarea, input {
  outline: none;
}

.alignleft {
  float: left;
  margin: 0 $spacing-medium $spacing-medium 0;
}

.alignright {
  float: right;
  margin: 0 0 $spacing-medium $spacing-medium;
}

.aligncenter {
  margin: 0 auto;
  text-align: center;
}

.alignnone {
  float: none;
  margin-bottom: $spacing-medium ;
}

hr {
  border: none;
  height: 1px;
  display: block;
  margin: $spacing-big 0;
  border-bottom: 2px dotted #DDD;
}

b, strong {
  font-weight: 600;
}

del {
  text-decoration: line-through;
  color: #CCC;
}

blockquote {
  @extend %font-bloc;
  margin: $spacing-big 0 $spacing-big 0px;
  padding: 0 $spacing-medium 0 $spacing-medium;
  border-left: 1px solid #EEE;
}
blockquote p {
	color: #AAA !important;
}

i, em {
  font-style: italic;
}

code {
  display: block;
  padding: $spacing-medium;
  overflow: hidden;
  background: $color-code;
}

// Video Embedding
.embed-container { 
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%; 
} 
.embed-container iframe, 
.embed-container object, 
.embed-container embed { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}


//-------------------------------------------------------------------------------
// Background Colors
//-------------------------------------------------------------------------------

html                      {background: $color-browser-bg;}
#header-container	        {background: $color-header;} 
#footer-container         {background: $color-footer;} 
.review                   {background: $color-page-bg;}
.single-container         {background: $color-page-bg;}

//-------------------------------------------------------------------------------
// Link Colors
//-------------------------------------------------------------------------------

a {
  color:$color-main-link;
  text-decoration:none;
}
a:hover {
  color:$color-main-link;
  text-decoration:none;
}
.single-container p a, 
.review p a {
  color:$color-main-link;
  border-bottom: 1px dotted $color-main-link;
  text-decoration:none;
}
.single-container p a:hover, 
.review a:hover {
  color:$color-main-link;
  border-bottom: 1px solid $color-main-link;
  text-decoration:none;
}
a.noBorder {
  border: none !important;
}
a.noBorder:hover {
  opacity: 0.95;
}

//-------------------------------------------------------------------------------
// CSS3 Transitions
//-------------------------------------------------------------------------------

.thumb .thumb-image img       {transition:1s;}
.thumb .thumb-image img:hover {transition:.1s;}

//-------------------------------------------------------------------------------
// Z-index 
//-------------------------------------------------------------------------------

.thumb .thumb-inner                 {z-index: 100}
.thumb .thumb-image             	{z-index: 200}
.thumb .thumb-label             	{z-index: 400}
.floating-pagi                		{z-index: 1000}
#footer-container                   {z-index: 2000} // To hide the floating nav over footer
#header-navigation ul               {z-index: 3000}
#mobile-nav-button 					{z-index: 4000}
.mobile-navigation 					{z-index: 5000}

//-------------------------------------------------------------------------------
// Text Select
//-------------------------------------------------------------------------------


::selection {
	background: $color-main-link; 
	color: $color-white; 
	text-shadow: none; 
}
::-moz-selection {
	background: $color-main-link; 
	color: $color-white; 
	text-shadow: none;
}
#header-container ::selection,
#footer-container ::selection {
	background: $color-white; 
	color: #222; 
}

//-------------------------------------------------------------------------------
// Promo 
//-------------------------------------------------------------------------------

// Hides the big OPL heart placed after body open tag for social sharing.
#promo {display: none;}

//-------------------------------------------------------------------------------
// Highlights notice within paragraph text - horrible style - need to sort this shit out, seriously
//-------------------------------------------------------------------------------

.notice {
	background: #ffc3da; 
	border: 1px solid #feb0ce; 
	color: #EC3D80;
	width: 1240px; 
	padding: $spacing-s-m $spacing-medium ; 
	margin-bottom: $spacing-big;
}
