//-------------------------------------------------------------------------------
// Hierarchy
//-------------------------------------------------------------------------------

// #container-outer {}

//   #header-container {}
// 		#header {}
//			#header-logo {}
// 			#header-navigation {}
//		 	#header-search {}
//			#header-button {}	
//		#mobile-navigation-toggle {}

//	 #container {}
//		#content {}

//   #footer-container {}
//		 #footer-top-container {}
//	 	#footer-bottom-container {}
		
//-------------------------------------------------------------------------------
// Widths, margins, padding 
//-------------------------------------------------------------------------------		

// icon background only on reviews
body.page #container-outer #container,
body.single #container-outer #container { 
	background-image: url($background-icon);
	background-repeat: repeat-x; 
}

#container-outer {
	width: 100%;

	#header-container {
		width: 100%; 
		height: 2.5rem; // 40
		margin: 0; 
		padding: 0; 
		display: block;
		position: fixed;

		#header {
			margin:0 auto; 
			padding: 0 $spacing-small;
			color: #FFF;

			#header-logo {

			}

			#header-navigation {
				float: left;
				margin: 0; 
				padding: 0;		
			}

			#header-search {
				float: right;
				width: 18.75rem;
				margin: 0; 
				padding: 0;
			}
			
			// tablet + mobile hamburger icon
			#header-button { 
				padding-top: 0.125rem;
			}

		}

	}

	#container {
		width: 100%;
		max-width: 1800px; // to prevent 5th column on massive monitors
		margin: 0 auto; 
		padding: 0;
		padding-top: 2.5rem; // 40


		#content {
			padding: $spacing-big 0 0 0; 
			margin: 0; 

			.single-container {
				width: $container-standard - 80px; // 1200 = 80px less than #container as 40px padding 
	            margin: $spacing-medium auto $spacing-huge auto;
				padding: $spacing-huge 0; 
				height: auto;			
			}

			.review {
				width: $container-standard; /* same as #container with no padding */
				margin: 0 auto $spacing-big auto;
				padding: 0px; /* different to single with big screenshot touching edge */	

				.review-meta {
					// width: 1200px;

					.review-meta-right {
						float: right; 
						width: 318px; 
						vertical-align: top;
						border: 1px solid #eee;
					}

				}

				.review-screenshot img {
					max-width: 100%;
					height: auto;
				}

			}	

			.similar {
				max-width: 1600px; // prevents 4th column thumb on review pages
				margin: 0 auto $spacing-big auto;
			}		

		}

	}

	#footer-container {
		position: relative; // for the z-index
		
		#footer-top-container {
			width: 100%;
			padding: $spacing-huge 0 $spacing-big 0;
		}

		#footer-bottom-container {
			width: 100%;
		}

	}

}



body.single #container-outer #container { 
  max-width: none; 
  // to prevent 5th column on massive monitors
  // set at 1800px on archive
}


//-------------------------------------------------------------------------------
// Large Desktop
//-------------------------------------------------------------------------------	

@media (max-width: $bp-desklg) {

	#container-outer {

		#container {
			width: 100%; 
		}

		#footer-container {

			#footer-quote-container {

				#footer-quote {
					width: $container-standard; 
				}

			}

			#footer-bottom-container {

				#footer-lists { 
					width: $container-standard; 
				}

			}

		}

	}

}

//-------------------------------------------------------------------------------
// Small Desktop (used to be smdesktop breakpoint)
//-------------------------------------------------------------------------------	

@media (max-width: $bp-desk) {

	#container-outer {
		width: 100%;

		#header-container {

			#header {

				#header-search {
					width: 12.5rem; // 200

				}

			}

		}

		#container {

			#content {

				.single-container {
					width: 94%;  
		            margin: 20px auto 40px auto;
					padding: 40px 3% 40px 3%; 
					height: auto;		
					// background: #333;
				}

				.review {
					width: 100%;   
		            margin: 20px 0 40px 0;
					padding: 0px; /* different to single with big screenshot touching edge */			
				}	

			}

		}

		#footer-container {

			#footer-quote-container {

				#footer-quote {
					display: flex; 
					padding: $spacing-big $spacing-medium;
				}

			}

			#footer-bottom-container {

				#footer-lists { 
					width: 100%;
					padding: $spacing-big 0;
				}

			}

		}

	}		

}


//-------------------------------------------------------------------------------
// Tablet 
//-------------------------------------------------------------------------------	

@media (max-width: $bp-tablet) {
	
	#container-outer {
		width: 100%;

		#container {

			#content {

				.review {
					margin: 0;		
				}	

			}

		}

	}
	
}