//-------------------------------------------------------------------------------
// Hierarchy
//-------------------------------------------------------------------------------

// #container-outer {}

//   #header-container {}
// 		#header {}
//			#header-logo {}
// 			#header-navigation {}
//		 	#header-search {}
//			#header-button {}	
//		#mobile-navigation-toggle {}

//	 #container {}
//		#content {}

//   #footer-container {}
//		#footer-top-container {}
//	 	#footer-bottom-container {}
		
//-------------------------------------------------------------------------------
// Widths, margins, padding 
//-------------------------------------------------------------------------------		

// icon background only on reviews
body.page #container-outer #container,
body.single #container-outer #container { 
	background-image: url($background-icon);
	background-repeat: repeat-x; 
}

body.single #container-outer #container { 
  max-width: none; 
  // to prevent 5th column on massive monitors
  // set at 1800px on archive
}

//-------------------------------------------------------------------------------
// Outer Container
//-------------------------------------------------------------------------------	

#container-outer {
	width: 100%;

	// Small Desktop
	@media (max-width: $bp-desk) {
		width: 100%;
	}


//-------------------------------------------------------------------------------
// Header
//-------------------------------------------------------------------------------	

	#header-container {
		width: 100%; 
		height: 2.5rem; // 40
		margin: 0; 
		padding: 0; 
		display: block;
		position: fixed;

		// Tablet
		@media (max-width: $bp-tablet) {
			position: relative;
		}

		#header {
			margin: 0 auto; 
			padding: 0 $spacing-small;
			color: #FFF;

			#header-logo {

			}

			#header-navigation {
				float: left;
				margin: 0; 
				padding: 0;		
			}

			#header-search {
				float: right;
				width: 18.75rem;
				margin: 0; 
				padding: 0;
			}
			
			// tablet + mobile hamburger icon
			#header-button { 
				padding-top: 0.125rem;
			}

		}

	}

//-------------------------------------------------------------------------------
// Container
//-------------------------------------------------------------------------------	

	#container {
		width: 100%;
		max-width: 1800px; // to prevent 5th column on massive monitors
		margin: 0 auto; 
		padding: 0;
		padding-top: 2.5rem; // 40

		// Large Desktop
		@media (max-width: $bp-desklg) {
			width: 100%; 
		}

		#content {
			padding: $spacing-big 0 0 0; 
			margin: 0; 

			// Tablet
			@media (max-width: $bp-tablet) {
				padding-top: 0;
			}

		}

	}

//-------------------------------------------------------------------------------
// Footer
//-------------------------------------------------------------------------------	

	#footer-container {
		position: relative; // for the z-index
		
		#footer-top-container {
			width: 100%;
			padding: $spacing-huge 0 $spacing-big 0;
		}

		#footer-bottom-container {
			width: 100%;
		}

	}

}