//-------------------------------------------------------------------------------
// Hierarchy
//-------------------------------------------------------------------------------

// #container-outer {}

//   #header-container {}
// 		#header {}
//			#header-logo {}
// 			#header-navigation {}
//		 	#header-search {}
//			#header-button {}	
//		#mobile-navigation-toggle {}

//	 #container {}
//		#content {}

//   #footer-container {}
//		 #footer-quote-container {}
//			#footer-quote {}
//		 #footer-promo-container {}
//			#footer-promo {}
//	 	#footer-bottom-container {}
//			#footer-bottom {}
//			#footer-credits {}
		
//-------------------------------------------------------------------------------
// Widths, margins, padding 
//-------------------------------------------------------------------------------		

#container-outer {
	width: 100%;

	#header-container {
		width: 100%; 
		height: 3.75rem; // 60px
		margin: 0; 
		padding: 0; 
		display: block;

		#header {
			// width: $container-large; 
			margin:0 auto; 
			padding: $spacing-small $spacing-medium;
			color: #FFF;


			#header-logo {

			}

			#header-navigation {
				float: left;
				// width: 840px; 
				// height: 3.75rem; // 60px
				margin: 0; 
				padding: 0;		
			}

			#header-search {
				float: right;
				width: 18.75rem;
				margin: 0; 
				padding: 0;
			}

			#header-button {

			}

		}

	}

	#container {
		background-image: url($background-icon);
  		background-repeat: repeat-x; 
		width: 100%;
		// width: $container-large; 
		margin: 0 auto; 
		padding: 0;


		#content {
			// width: 1320px; /* 40px greater than #container with hidden overflow from parent */
			padding: $spacing-big 0 0 0; 
			margin: 0; 
			// overflow: visible !important;

			.single-container {
				width: $container-standard - 80px; // 1200 = 80px less than #container as 40px padding 
	            margin: $spacing-medium auto $spacing-big auto;
				padding: $spacing-big; 
				height: auto;			
			}

			.review {
				width: $container-standard; /* same as #container with no padding */
				margin: 0 auto $spacing-big auto;
				padding: 0px; /* different to single with big screenshot touching edge */	

				.review-meta {
					// width: 1200px;

					.review-meta-right {
						float: right; 
						width: 320px; 
						vertical-align: top;
					}

				}

				.review-screenshot img {
					max-width: 100%;
					height: auto;
				}

			}		

		}

	}

	#footer-container {
		position: relative; // for the z-index

		#footer-quote-container {
			width: 100%;
			display: flex;

			#footer-quote {
				width: $container-large; 
				margin: 0 auto; 
				padding: $spacing-big 0 $spacing-big 0;
				// background: $test2;
			}

		}

		#footer-promo-container {
			width: 100%;
			display: flex;
			background: $color-header-top;

			#footer-promo {
				// width: $container-standard; // set in footer.scss
				margin: 0 auto; 
				// padding: $spacing-big 0 $spacing-big 0; // no padding needed
				// background: $test2;
			}

		}

		#footer-bottom-container {
			background: #181818;
			width: 100%;

			#footer-lists { 
				width: $container-large; 
				margin: 0 auto; 
				padding: $spacing-huge 0 $spacing-big 0;
				// background: $test1;
			}

		}

	}

}






//-------------------------------------------------------------------------------
// Large Desktop
//-------------------------------------------------------------------------------	

@media (max-width: $bp-desklg) {

	#container-outer {
		// width: 100%;

		#header-container {

			#header {
				// width: $container-standard; 

				#header-navigation{

				}

				#header-search {

				}

			}

		

		}

		#container {
			width: 100%; 



			#content {


				.single-container {
	
				}

				.review {


					.review-meta {


						.review-meta-right {

						}

					}

					.review-screenshot img {

					}

				}		

			}

		}

		#footer-container {

			#footer-quote-container {


				#footer-quote {
					width: $container-standard; 
				}

			}

			#footer-promo-container {


				#footer-promo {
				}

			}

			#footer-bottom-container {


				#footer-lists { 
					width: $container-standard; 
				}

			}

		}

	}

}

//-------------------------------------------------------------------------------
// Small Desktop
//-------------------------------------------------------------------------------	

@media (max-width: $bp-desksm) {

	#container-outer {
		width: 100%;

		#header-container {


			#header {


				#header-navigation {
				}

				#header-search {
					width: 12.5rem; // 200

				}

			}

		}

		#container {


			#content {

				.single-container {
					width: 94%;  
		            margin: 20px auto 40px auto;
					padding: 40px 3% 40px 3%; 
					height: auto;			
				}

				.review {
					width: 100%;   
		            margin: 20px 0 40px 0;
					padding: 0px; /* different to single with big screenshot touching edge */			
				}	

			}

		}

		#footer-container {

			#footer-quote-container {

				#footer-quote {
					display: flex; 
					padding: $spacing-big $spacing-medium;
				}

			}

			#footer-promo-container {

				#footer-promo {
					display: flex; 
					padding: 0 $spacing-medium;
				}

			}

			#footer-bottom-container {

				#footer-lists { 
					width: 100%;
					padding: $spacing-big 0;
				}

			}

		}

	}		

}

//-------------------------------------------------------------------------------
// Notebook
//-------------------------------------------------------------------------------	

@media (max-width: $bp-notebook) {

	#container-outer {

		#header-container {


			#header {


				#header-navigation {
				}

				#header-search {
					width: 9.375rem; // 150

				}

			}

		}

	}

}


//-------------------------------------------------------------------------------
// Tablet 
//-------------------------------------------------------------------------------	

@media (max-width: $bp-tablet) {
	
	#container-outer {
		width: 100%;

		#header-container {
			
		}

		#container {


			#content {

				.single-container {
	
				}

				.review {
					margin: 0;		
				}	

			}

		}

		#footer-container {

			#footer-quote-container {


				#footer-quote {
					
				}

			}

			#footer-promo-container {


				#footer-promo {
				}

			}

			#footer-bottom-container {


				#footer-lists { 
					padding-bottom: 0;
				}

			}

		}

	}
	
}