// This section includes Search Results at the bottom as well

//-------------------------------------------------------------------------------
// Archive Header
//-------------------------------------------------------------------------------

.archive-header {
	display: flex;
	align-items: center;	
	text-align: center;

	.archive-header-info {
		text-shadow:0 1px 0 #FFF; 
		color: #333;
		width: 100%;
		text-align: center;
		padding: 0 $spacing-medium $spacing-small $spacing-medium;

		@media (max-width: $bp-mobile) {
			text-align: left;
			padding-top: $spacing-small;
		}	

		.archive-title {
			@extend %font-soft;
			@extend %no-font-smoothing;
			font-size: 2.625rem; 
			line-height: 2.625rem;
			margin-bottom: $spacing-small;
			letter-spacing: -2px;
			max-width: 80%;
			margin-right: auto;
			margin-left: auto;

			@media (max-width: $bp-tablet) {
				max-width: none;
			}			
		}

		.archive-description {
			font-family: $font-fam-post;
			color: #777;
			max-width: 60%;
			margin-right: auto;
			margin-left: auto;
			font-size: 1.25rem; 
			line-height: 1.5rem; 
			letter-spacing: -0.2px;

			@media (max-width: $bp-desksm) {
				max-width: 80%;
			}

			@media (max-width: $bp-tablet) {
				max-width: none;
			}

			a {
				font-weight: bold;
			}
		}
	}
}

//-------------------------------------------------------------------------------
// Archive Container
//-------------------------------------------------------------------------------

.archive-container {
	max-width: 1800px; // to prevent 5th column on massive monitors 
	margin-right: auto;
	margin-left: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	padding: $spacing-medium 0; // add 20 top and bottom to even 40px padding of thumbs
}

// We don't include the thumbs within the archive-container as they are reused in Similar Posts on reviews

//-------------------------------------------------------------------------------
// Archive Thumbs
//-------------------------------------------------------------------------------

// moved to own SASS file

//-------------------------------------------------------------------------------
// Archive Pagination
//-------------------------------------------------------------------------------

.browsing {
	clear: both;
	padding: 0;
	margin: $spacing-big 0 $spacing-huge 0;

	.browsing-nav {
		width: 90%;
		max-width: 1280px;
		margin: 0 auto;

		.browsing-nav-left {
			float: left; 
			width: 20%;
			text-align: left;

			a {
				@extend %pagination-browse;
			}

			@media (max-width: $bp-tablet) {	
				width: 50%;
			}	

		}

		.browsing-nav-mid {
			float: left;
			width: 60%; 
			text-align: center;

			a {
				@extend %pagination-number;
			}

			@media (max-width: $bp-tablet) {	
				display: none;
			}	
		}

		.browsing-nav-right {
			float: right; 
			width: 20%; 
			text-align: right;

			a {
				@extend %pagination-browse;
			}

			@media (max-width: $bp-tablet) {	
				width: 50%;
			}	
			
		}

	}

	a {
		@extend %pagination-number;
		border-radius: $rounded-corners;
		border: 1px solid #ccc;
		color: #999;
	}
	a:hover {
		border: 1px solid $color-main-link;
		color: $color-main-link;
	}

	.current {
		@extend %pagination-number;
		border-radius: $rounded-corners;
		background: none; 
		opacity: 1;
		border: 1px solid $color-main-link;
		color: $color-main-link;
	}

}

//-------------------------------------------------------------------------------
// Search Results extra search bar
//-------------------------------------------------------------------------------

.results-search {
	width: 260px; 
	display: block;
	margin: 0 auto;

	@media (max-width: $bp-mobile) {	
		margin: 0;
	}	

	.search {
		height:22px;
		background: none; 
		border:1px solid #CCC; 
		padding: 5px 10px; 
		overflow: hidden; 
		width: 245px; 
		margin: 6px 0 0 0;
		border-radius: $rounded-corners;

		.search-field {
			background: none;  
			font-size:16px; 
			line-height: 16px; 
			color: #666; 
			height: 20px; 
			width:240px; 
			padding: 0 0 2px 0; 
			margin: 0;
			vertical-align: top;
		}

		.search-button{
			padding: 3px;
			opacity: 0.5;

			:hover {
				opacity: 1;
			}
		}
	}
}

.no-results {
	@extend %typography-p;
	padding-right: $spacing-medium;
	padding-left: $spacing-medium;
	color: #666;
	display: block;
	text-align: center;
	width: 100%;
	clear: both;

	@media (max-width: $bp-mobile) {	
		text-align: left;
	}	
}

body.search-no-results p.no-results {
	margin-top: $spacing-big;
}

// Search Suggestions
.search-suggestions {
	display: inline-block;
	margin-top: $spacing-big;
	margin-bottom: $spacing-big;
	padding: $spacing-medium;
	background-color: $color-notice;
}

//-------------------------------------------------------------------------------
// Search & Filter Plugin Tweaks
//-------------------------------------------------------------------------------

.searchandfilter { 
	// background-color: #111;
	width: 80%;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
	text-align: left;

	@media (max-width: $bp-desksm) {
		width: 100%;
	}

	ul {
		width: 100%;
		height: auto;
		display: flex;
    	flex-flow: row wrap;
    	justify-content: space-between;

		li { // global
			
		}

		// search form
		li:first-child {
			flex: 0 0 100%; 
			// width: 100%;
			// background-color: #33ccff;
			height: 50px;

			input[type="text"] {
			    display: flex;
			    height: 42px;
			    padding: $spacing-tiny $spacing-small;
			    width: 100%;
			}

		}

		// cat lists
		li:nth-child(2) {
			text-align: left;
			flex: 0 0 60%; 
			// background-color: #ff33cc;
			height: $spacing-big;

			@media (max-width: $bp-tablet) {
				flex: 0 0 100%;
			}

			ul { // categories 
				display: block;
				height: 30px;
				padding-left: 14px;

				li { // category parents, radio buttons
					display: inline-block;
					width: auto;
					height: 30px;
					font-size: 1rem;
					line-height: 1rem;
					padding-top: 10px;

					label {
						width: 100%;
					}
					input[type="radio"] {
					}
				}
			}

			ul.children li { // hide sub cats
				display: none;
				
			}

		}

		// filter button
		li:nth-child(3) {
			flex: 0 0 34%;  
			// background-color: #22dd44;
			height: $spacing-big;
			text-align: right;

			input[type="submit"] {
				height: 1.5rem; 
				font-size: 0.75rem;
				line-height: 0.75rem;
				font-weight: bold;
				text-transform: uppercase;
				display: inline-block;
				padding: 0.3125rem 0.5625rem; // 5 9
				text-decoration: none; 
				margin: $spacing-small 0 0 0; 
				white-space: nowrap; 
				background-color: $color-main-link; 
				border: none;
				color: #FFF;
				cursor: pointer;

				&:hover {
					background-color: $color-darker-link; 
				}
			}
			
			@media (max-width: $bp-tablet) {
				flex: 0 0 100%;
				text-align: left;
			}
		}

	}

}




























