
//-------------------------------------------------------------------------------
// Mobile Nav Icon
//-------------------------------------------------------------------------------

#header-button {
	float: right;
	display: none;
	margin: $spacing-small 0 0 0; 

	svg {
		fill: #CCC;
	}
}

// see bottom of this file for mobile nav stuff
#mobile-navigation-toggle {
	display: none;
}



//-------------------------------------------------------------------------------
// Logo
//-------------------------------------------------------------------------------

#header-logo {
	float: left; 
	height: 1.875rem; // 30 
	margin: 0.375rem 2.5rem 0 0; 
	// background: $test1;

	@media (max-width: 1130px) {
		margin-right: 0.875rem;
	}

	.header-logo-heart {
		float: left; 
		height: $size-logo; 
		width: $size-logo; 
		background: url($heart-logo) left top no-repeat; 
		background-size: $size-logo $size-logo; 

		a {
			height: $size-logo; 
			width: $size-logo; 
			display: block; 
			padding: 0;
		}

	}

	.header-logo-name {
		float: left;
		height: $size-logo; 
		margin: 0.1875rem 0 0 0.25rem; // 3 0 0 4
		text-transform: uppercase;

		a {
			@extend %font-heading;
			color: $color-logo-text;	 
			font-size:  1.125rem; // 18
			line-height:  1.25rem; // 20
			text-shadow: 0 1px 0 #000;
			font-weight: 600; 
			letter-spacing: 0;
		}

		a:hover {
			text-decoration: none;
		}
	}

}

//-------------------------------------------------------------------------------
// Header - Bottom Left - Main Nav
//-------------------------------------------------------------------------------

#header-navigation {
	float: left;
	// background: $test2;

	//-------------------------------------------------------------------------------
	// Main Navigation
	//-------------------------------------------------------------------------------

	ul {
		@extend %font-smoothing;
		margin: 0; 
		padding: 0; 
		list-style: none; 
		text-shadow: none;
		color: #999;

		li {
			display: block; 
			position: relative; 
			float: left;  
			margin: 0; 
			padding: 0;
			border: none; 

			a { // Main Navigation
				// @extend %font-heading;
				display: block; 
				margin: 0 !important;  
				border: none; 
				text-decoration: none; 
				height: 1.25rem; // 20
				padding: 0.625rem 2.813rem 1.25rem 0.3125rem; // 10 45 20 5
				white-space: nowrap;
				color: #999; // parent link color
				font-size: 1rem; // 16
				line-height: 1rem; // 16
				letter-spacing: 0; 
				font-weight: 600;

				@media (max-width: 1130px) {

					padding-right: 0.875rem;
					padding-left:  0.875rem;

				}
			} 

			&:last-child a {
				padding-right: 0;
			}

			a:hover {
				text-decoration: none;
				color: #CCC; // parent link color on hover 
			}

			&#nav-free {
				@media (max-width: $bp-notebook) {
					display: none;
				}
			} 

			&#nav-blog {
				@media (max-width: 930px) {
					display: none;
				}
			} 

			&#nav-subscribe {
				@media (max-width: 1250px) {
					display: none;
				}
			}

			ul {
				left: -0.9375rem; // -15
				padding-bottom: 0.625rem;
				background: $color-header; //  dropdown background 
				@extend %border-rounded-bottom;

				li {
					width: 8.125rem; // 130
					padding: 0; 
					background-clip: padding-box;

					a {
						height: 1rem; 
						padding: 0.8125rem 1.25rem 0.6875rem 1.25rem; // 13 20 11 20
						color: #777 !important; //  dropdown list item link color
						font-size: 0.875rem; // 14
						line-height: 0.875rem; // 14
						letter-spacing: 0; 
						font-weight: 600;

					}

				}

				li:hover {
					padding: 0;
				}

				ul li {
					display: none;
				}

			}

		}

		li:hover {
			a {
				background-position: 0 0; 
				color: #CCC // parent link color when hovering on dropdown 
			}
			ul {
				display: block; 
				position: absolute;
			}
			li {
				float: none;

				a:hover { // dropdown list item background & link color on hover
					background: $color-main-link; 
					color: $color-white !important;
				}

				a.sub-r:hover {background: $color-rss;}
				a.sub-h:hover {background: $color-producthunt;}
				a.sub-f:hover {background: $color-facebook;}
				a.sub-t:hover {background: $color-twitter;}
				a.sub-g:hover {background: $color-googleplus;}
				a.sub-p:hover {background: $color-pinterest;}
				a.sub-d:hover {background: $color-dribbble;}				

			}

		}

		// Dropdown Sizes
		li.nav-wide ul {
			width: 24.13rem; // 386

			li {
				width: 11.88rem; // 190
				display: inline-block;
			}
		}

		li.nav-wider ul {
			width: 30.5rem; // 488

			li {
				width: 10rem; // 160
				display: inline-block;
			}
		}

		li.nav-wide-single ul {
			width: 11.88rem; // 190

			li {
				width: 11.88rem; // 190
			}
		}

		ul {
			display: none;
		}

	}

}



//-------------------------------------------------------------------------------
// Header - Right - Search
//-------------------------------------------------------------------------------

#header-search {
	float: left
}

#mobile-search {
	padding: 0 $spacing-medium $spacing-medium $spacing-medium;
}

#header-search,
#mobile-search {
	// background: $test3;

	.search {
		background: $color-search-bg;
		height: $size-search; 
		padding: 0.5rem 4% 0.4375rem 2%; // 8 % 7 %
		overflow: hidden; 
		width: 94%; 
		margin: 0; // 10 0 0 0
		font-size: 1.125rem; // 18
		border-radius: $rounded-corners;

		.search-icon {
			display: inline-block; 
			width: 1.125rem; // 18
			height: $size-search;

			svg {
				width: 1.125rem; // 18
				height: 1.125rem; 
				fill: $color-search-svg; 
				margin: 0.125rem 0 0 0.125rem; // 2 0 0 2
			}
		}

		.search-field-holder {
			display: inline-block; 
			width: 90%; 
			height: $size-search; 
			vertical-align: top;

			@media (max-width: $bp-desksm ) {
				width: 85%;
			}

			@media (max-width: $bp-notebook) {
				width: 75%;
			}	

			.search-field {
				color: $color-search-text;
				background: none; 
				border:none; 
				height: $size-search; 
				width: 98%; 
				padding: 0 0 0 2%; 
				margin: 0;
			}

			.search-field:focus {
				color: $color-search-focus;
			}

		}

	}

}


//-------------------------------------------------------------------------------
// Header - Mobile Big Dropdown 
//-------------------------------------------------------------------------------

@media (max-width: $bp-tablet) {

	//-------------------------------------------------------------------------------
	// Hide some things
	//-------------------------------------------------------------------------------

	// #toggle-mobile-navigation,
	#header-navigation {
		display: none;
	}	

	#header-search {
		display: none;
	}	

	//-------------------------------------------------------------------------------
	// Show some things
	//-------------------------------------------------------------------------------

	#header-button,
	.mobile-navigation {
		display: block
	}

	//-------------------------------------------------------------------------------
	// Mobile Navigation
	//-------------------------------------------------------------------------------

	// Show nav icon
	#mobile-navigation-toggle {
		position: relative;

		.mobile-navigation {
			position: relative; 
			clear: both; 
			// width: 96%; 
			// padding: 0 2% 0 2%; 
			float: none; 
			text-shadow: none; 
			margin:0;
			background: $color-header;

			ul { // Section headings eg. Browse, One Page Website Gallery
				overflow: auto; 
				// width: 100% !important; 
				top: -1px;
				height: auto; 
				margin: 0; 
				padding: 0 $spacing-medium; 
				list-style: none; 
				text-shadow: none; 
				background:  $color-header; 
				border-top: 1px solid #222;  
				// box-shadow: 0 -1px 0 #000;

				li {
					display: block; 
					position: relative; 
					float: none;  
					font-size: 0.75rem; // 12
					line-height: 0.75rem; // 12
					margin: 0; 
					padding: 0;
					border: none; 
					// border-bottom: 1px solid #ff33cc;  // this is doubling up giving a thick black line
					box-shadow: 0 1px 0 #222;


					a {
						display: block; 
						margin: 0 !important;  
						border: none; 
						text-decoration: none; 
						height: 1rem; 
						padding: 0.8125rem 0 0.6875rem 0; // 13 0 11 0
						white-space: nowrap;
						color: #CCC; 
						font-weight: 600;
					} 

					a:hover {
						text-decoration: none;
						color: $color-main-link;
					}

					ul { // Child menu background eg. Home, About...
						width: 100%; 
						padding: 0; 
						margin-left: 0;
						background: $color-header;
						display: flex;
	  					flex-wrap: wrap;
						border-bottom: 0; 
						// box-shadow: 0 0 0 $test1;


						li { // child list item background set at top of stylesheet
							flex: 1 0 33%; 
	 						box-sizing: border-box;

							a { // dropdown list item link color
								height: 1rem; // 16
								padding: 0.8125rem 0 0.6875rem 0; // 13 0 11 0
								color: #999 !important; 
								font-size: 0.75rem; // 12
								font-weight: 300; 
								letter-spacing: 0px;
							}

							ul {

								li {
									display: none;
								}
							}
						} 

						li:hover {
							padding: 0;
						}

					} 

				}

				li:hover {

					a { // parent link color when hovering on dropdown
						color: #DDD;
					} 

					li {

						a:hover { // dropdown list item background & link color on hover 
							color: $color-main-link !important; 

						}

					}

				}
				
			}

		}

	}

}


@media (max-width: $bp-mobile) {

	#mobile-navigation-toggle {

		.mobile-navigation {

			ul { // Section headings eg. Browse, One Page Website Gallery

				li {

					ul { // Child menu background eg. Home, About...

						li { // child list item background set at top of stylesheet
							flex: 1 0 50%; 
	 					}

	 				}

	 			}

	 		}

	 	}

	}

}