// This section includes Search at the bottom as well

//-------------------------------------------------------------------------------
// Archive Header
//-------------------------------------------------------------------------------

.archive-header {
	display: flex;
	align-items: center;	
	text-align: center;
	// background: $test3;
	@extend %archive-title-burst;
	

	.archive-header-info {
		text-shadow:0 1px 0 #FFF; 
		color: #333;
		width: 100%;
		text-align: center;
		padding: $spacing-medium $spacing-medium $spacing-small $spacing-medium;

		@media (max-width: $bp-mobile) {
			text-align: left;
			padding-top: $spacing-small;
		}	

		.archive-title {
			@extend %font-heading;
			margin-bottom: $spacing-small;

			h1 {
				@extend %font-heading;
				color: #333;
			}
		}

		.archive-description {
			color: #777;
			max-width: 60%;
			margin-right: auto;
			margin-left: auto;
			font-size: 1.25rem; 
			line-height: 1.5rem; 
			font-weight: 300;

			@media (max-width: $bp-desksm) {
				max-width: 80%;
			}

			@media (max-width: $bp-tablet) {
				max-width: none;
			}

			a {
				font-weight: 600;
			}
		}
	}
}

//-------------------------------------------------------------------------------
// Archive Container
//-------------------------------------------------------------------------------

.archive-container {
	// background: $test2;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	// justify-content: space-between;
	align-items: flex-start;
	padding: $spacing-medium 0; // add 20 top and bottom to even 40px padding of thumbs
}

// We don't include the thumbs within the archive-container as they are reused in Similar Posts on reviews

//-------------------------------------------------------------------------------
// Archive Thumbs
//-------------------------------------------------------------------------------

.thumb {
	position: relative; 
	//width: 25%;
	//max-width: 400px; // no pixelation of thumbs
	width: 400px;
	margin: $spacing-medium; // 20
	text-shadow: none; 
	padding: 0;
	border-radius: $rounded-corners;
	// border: none;

	@media (max-width: $bp-desklg) {
		//width: 25%;
	}
	@media (max-width: $bp-desksm) {
		//min-width: 250px; 
		//width: 33%;
	}	
	@media (max-width: $bp-notebook) {
		//width: 33%;
	}
	@media (max-width: $bp-tablet) {
		width: 300px;
	}
	@media (max-width: $bp-mobile) {
		width: 100%;
		max-width: 400px;
		margin: $spacing-small $spacing-medium; 
	}	

	p {
		margin: 0; 
		padding: 0;
	}

	.thumb-label {
		position: absolute; 
		display: block; 
		top: -0.5rem; // -8
		left: -0.5rem; 
		width: 3rem; // 48
		height: 3rem; 
		border-radius: 1.5rem; // 24
		text-align: center;

	}

	.thumb-label-loved {
		text-transform: uppercase; 
		font-size: 0.6875rem; // 11
		line-height: 0.625rem; // 10
		letter-spacing: 0px; 

		.thumb-label-loved-position {
			display: block; 
			padding: 0.875rem 0 0 0; // 14 0 0 0 
		}
	}

	.thumb-label-template {
		text-transform: uppercase; 
		font-size: 1.25rem ; 
		letter-spacing: 0.0625rem;

		.thumb-label-template-position {
			display: block; 
			padding: 1.125rem 0.1875rem 0 0.1875rem; // 18 3 0 3
		}

	}

	.thumb-label-free {
		text-transform: uppercase; 
		font-size: 0.875rem; 
		letter-spacing: 0.0625rem;

		.thumb-label-free-position {
			display: block; 
			padding: 1.125rem 0.1875rem 0 0.1875rem; // 18 3 0 3
		}
	}


	.thumb-image {
		width: 100%; 
		height: auto; 
		top: 0;

		img {
			margin: 0; 
			width: 100%; 
			height: auto;
			@extend %border-rounded-top;

		}

		img:hover {
			opacity: 0.75;
		}

	}

	.thumb-info {
		padding: 0.625rem 1.25rem 0 0.9375rem; // 10 20 0 15

		.thumb-title {

			.thumb-name {

				h2 {
					@extend %font-heading;
					padding: 0; 
					font-size: 1.125rem; 
					line-height: 1.25rem; 
					margin-bottom: 0.25rem;
					font-weight: 600;
					letter-spacing: 0;

					svg.thumb-launch-svg {
						max-width: 1.125rem; 
						height: auto; 
						margin-bottom: -0.1875rem; 
					}
				}

				a {

				}

				a:hover {
					text-decoration: none;
				}

			}

			.thumb-cat {
				font-size: 0.6875rem; 
				margin-bottom: 0.75rem; 
				letter-spacing: 0.25px; 
				text-overflow: ellipsis; 
				max-width: 360px; // 22.5rem ?
				white-space: nowrap;
				overflow: hidden;

				a {
					text-decoration: none;
				}

			}

		}

	}

}



//-------------------------------------------------------------------------------
// Archive Pagination
//-------------------------------------------------------------------------------

.browsing {
	clear: both;
	padding: 0;
	margin: $spacing-big 0 $spacing-huge 0;

	.browsing-nav {
		width: 90%;
		max-width: 1280px;
		margin: 0 auto;

		.browsing-nav-left {
			float: left; 
			width: 20%;
			text-align: left;

			a {
				@extend %pagination-browse;
			}

			@media (max-width: $bp-tablet) {	
				width: 50%;
			}	

		}

		.browsing-nav-mid {
			float: left;
			width: 60%; 
			text-align: center;

			a {
				@extend %pagination-number;
			}

			@media (max-width: $bp-tablet) {	
				display: none;
			}	
		}

		.browsing-nav-right {
			float: right; 
			width: 20%; 
			text-align: right;

			a {
				@extend %pagination-browse;
			}

			@media (max-width: $bp-tablet) {	
				width: 50%;
			}	
			
		}

	}

	a {
		@extend %pagination-number;
	}

	.current {
		@extend %pagination-number;
		background: none; 
		opacity: 1;
	}

}

//-------------------------------------------------------------------------------
// Search Results extra search bar
//-------------------------------------------------------------------------------

.results-search {
	width: 260px; 
	display: block;
	margin: 0 auto;

	.search {
		height:22px;
		background: none; 
		border:1px solid #CCC; 
		padding: 5px 10px; 
		overflow: hidden; 
		width: 245px; 
		margin: 6px 0 0 0;

		.search-field {
			background: none;  
			font-size:16px; 
			line-height: 16px; 
			color: #666; 
			height: 20px; 
			width:240px; 
			padding: 0 0 2px 0; 
			margin: 0;
			vertical-align: top;
		}

		.search-button{
			padding: 3px;
			opacity: 0.5;

			:hover {
				opacity: 1;
			}
		}
	}
}
