// ------------------------------------------------
// Pages, Roundups and Articles
// ------------------------------------------------ 

.single-container {
	border: none; 
	border-bottom: 1px solid #ccc;
	font-size: 1.25rem; // 20
	line-height: 1.75rem; // 28

	p {
		font-size: 1.25rem; // 20
		line-height: 1.75rem; // 28	
		margin: 0 0 $spacing-medium 0; 
		padding: 0;
	}

	h1 {
		padding: 0; 
		margin-bottom: $spacing-m-b;
		font-size: 2.625rem; // 42
		line-height: 2.625rem; // 42
		font-weight: 700;
	}

	h2 {
		padding: $spacing-medium 0 0 0; 
		margin-bottom: $spacing-m-b;
		font-size:  2.125rem; // 34
		line-height: 2.375rem; // 38	
		font-weight: 500;	
	}

	h3 {
		margin: $spacing-big 0 $spacing-medium 0;
		font-size:  1.625rem; // 26
		line-height: 2rem; // 32
		font-weight: 500;
	}

	h3.h3-top-page {
		margin-top: 0;
	}

	h4 {
		font-weight: bold;
		font-size: 1.25rem; // 20
		line-height: 1.5rem; // 24
		color: #555555; 
		margin: $spacing-m-b 0 $spacing-small 0; 
		font-weight: 500;
	}

	ul {
		margin: $spacing-medium 0; 
		padding-left: $spacing-m-b; 
		font-size: 1.25rem; // 20
		line-height: 1.75rem; // 28

		li {
			list-style-type: circle; 
			padding: 0 0 $spacing-small $spacing-small;
		}
	} 

	ol {
		margin: $spacing-medium 0; 
		padding-left: $spacing-m-b; 
		font-size: 1.25rem; // 20
		line-height: 1.75rem; // 28

		li {
			list-style-type: decimal-leading-zero; 
			padding: 0 0 $spacing-small $spacing-small;
		}
	}

	img {
		max-width: 100%; 
		height: auto;

		.alignnone {
			max-width: 100%; 
			height: auto;
		}

		 .alignleft {

		 	@media (max-width: $bp-desksm) {
			 	max-width: 300px; 
			 	height: auto;

			}

		 }
	}

	iframe {
		max-width: 100%;
	}

	.block-right {
		padding: $spacing-medium $spacing-medium 0 $spacing-medium; 
		float: right; 
		vertical-align: top; 
		display: block; 
		width: 300px; 
		height: auto; 
		margin: 0 0 $spacing-big $spacing-big;
		font-size: 0.875rem;
		line-height: 1.125rem; 

		@media (max-width: $bp-tablet) {
			display: none;
		}

		ul {
			padding: 0;
			margin: 0;
			font-size: 0.875rem;
		    line-height: 1.125rem; 
			margin-bottom: $spacing-medium;

			li {
				padding: 0;
				margin: 0;
				margin-bottom: $spacing-small;
				list-style: none;

				a {
					color: $color-main-link;
					border-bottom: none;
				}

				a:hover {
					color: $color-main-link;
					border-bottom: 1px solid $color-main-link;
				}

			}

		}

	}

}
