// ------------------------------------------------
// Pages
// ------------------------------------------------ 

.single-container {
	border: none; 
	border-bottom: 1px solid #ccc;

		h1 {
			padding: 0; 
			margin-bottom: 30px;
		}

	.single-content {

		h2 {
			padding: 0; 
			margin-bottom: 30px;
		}

		h3 {
			margin: 40px 0 20px 0;
		}

		h3.h3-top-page {
			margin-top: 0;
		}

		h4 {
			font-weight: bold;
			font-size: 20px; 
			line-height: 24px; 
			color: #555555; 
			margin: 30px 0 10px 0; 
		}

		p {
			margin: 0 0 20px 0; 
			padding: 0;
		}

		ul {
			margin: 20px 0 20px 0; 
			padding-left: 30px; 

			li {
				list-style-type: circle; 
				padding: 0 0 10px 10px;
			}
		} 

		ol {
			margin: 20px 0 20px 0; 
			padding-left: 30px; 

			li {
				list-style-type: decimal-leading-zero; 
				padding: 0 0 10px 10px;
			}
		}

		img.alignnone {
			max-width: 100%; 
			height: auto;
		}

		iframe {
			max-width: 100%;
		}

	}

	.block-right {
		padding: $spacing-medium $spacing-medium 0 $spacing-medium; 
		float: right; 
		vertical-align: top; 
		display: block; 
		width: 300px; 
		height: auto; 
		margin: 0 0 $spacing-big $spacing-big;
		font-size: 0.875rem;
		line-height: 1.125rem; 

		ul {
			
			font-size: 0.875rem;
		    line-height: 1.125rem; 
			margin-bottom: $spacing-medium;

			li {
				margin-bottom: $spacing-small;

				a {
					color: $color-main-link;
					border-bottom: none;
				}

				a:hover {
					color: $color-main-link;
					border-bottom: 1px solid $color-main-link;
				}
			}

		}

	}


}
	

// ------------------------------------------------
// Roundup Buttons
// ------------------------------------------------ 

a.roundup-buy, 
a.roundup-demo {text-align: center; font-size: 14px; line-height: 14px; text-transform: uppercase; float: left;}
a.roundup-buy {min-width: 120px; padding: 10px 20px; margin-right: 10px;margin-bottom: 20px;}
a.roundup-demo {width: 116px; padding: 8px 0; margin-right: 0; margin-top: -28px;}
a.roundup-demo:hover {}


// ------------------------------------------------
// Join Page
// ------------------------------------------------ 

.join-benefits {width: 330px; background: #f5f5f5; float: right; vertical-align: top; padding: 20px 10px 20px 20px;}
.join-benefits h3 {margin-top: 0;}
table.join-table {text-align: left; color: #666;}
table.join-table td {font-size: 18px; line-height: 20px; padding: 5px 10px 10px 0; margin: 0; vertical-align: top;}
table.join-table svg.heart-list {fill: $color-main-link; width: 18px; height: 18px; margin-top: 2px;}	

// ------------------------------------------------
// Freebies Page
// ------------------------------------------------ 

h3.freebie-icons {margin-top: 0; padding-top: 0;}



