// ------------------------------------------------
// Posts: Roundups and Articles
// ------------------------------------------------ 

.single-container {
	border: none; 
	font-size: 1.25rem; // 20
	line-height: 1.75rem; // 28
	border-radius: $rounded-corners;
	box-shadow: $shadow-global;



	p {
		@extend %typography-p;
	}

	h1 {
		@extend %typography-h1;
	}

	h2 {
		@extend %typography-h2;
	}

	h3 {
		@extend %typography-h3;
	}	

	h4 {
		@extend %typography-h4;
	}

	ul {
		@extend %typography-ul;
	} 

	ol {
		@extend %typography-ol;
	}

	img {
		max-width: 100%; 
		height: auto;
		border-radius: $rounded-corners;

		.alignnone {
			max-width: 100%; 
			height: auto;
		}

		 .alignleft {

		 	@media (max-width: $bp-desksm) {
			 	max-width: 300px; 
			 	height: auto;

			}

		 }

		 .alignright {
		 	
		 }
	}

	blockquote  {
	 	@extend %font-g;
	    display: block;
	    width: 80%; 
	    margin: $spacing-huge auto;
	    max-width: 760px;
	    border-left: none;

	    p {
	    	font-size: 2.25rem;
	        line-height: 3rem;
	        margin-bottom: $spacing-medium;
	        color: #333 !important;    


	        @media (max-width: $bp-tablet) {
	            font-size: 1.5rem;
	            line-height: 1.875rem;
	        }
	    }
	}

	iframe {
		max-width: 100%;
	}

	.block-right {
		padding: $spacing-medium $spacing-medium 0 $spacing-medium; 
		float: right; 
		vertical-align: top; 
		display: block; 
		width: 300px; 
		height: auto; 
		margin: 0 0 $spacing-big $spacing-big;
		font-size: 0.875rem;
		line-height: 1.125rem; 

		@media (max-width: $bp-tablet) {
			display: none; // Should be hidden on tablet
		}

		ul {
			padding: 0;
			margin: 0;
			font-size: 0.875rem;
		    line-height: 1.125rem; 
			margin-bottom: $spacing-medium;

			li {
				padding: 0;
				margin: 0;
				margin-bottom: $spacing-small;
				list-style: none;

				a {
					color: $color-main-link;
					border-bottom: none;
				}

				a:hover {
					color: $color-main-link;
					border-bottom: 1px solid $color-main-link;
				}

			}

		}

	}

}

// ------------------------------------------------
// Roundup Buttons
// ------------------------------------------------ 

a.roundup-buy { // needs to get phased out
	float: left; 
}

a.roundup-demo { // needs to get phased out
	float: left; 
	margin-top: -1.75rem; // 28
}

a.roundup-buy, // needs to get phased out
a.roundup-demo, // needs to get phased out
a.button-fill,
a.button-border { 
	text-align: center; 
	font-size: 0.875rem; // 14
	line-height: 0.875rem; 
	text-transform: uppercase; 
	display: inline-block;
	border-radius: $rounded-corners;
	border-width: 2px !important; // to override the 1px global border styles
	border-style: solid !important; // to override the dotted global border styles
	border-color: $color-main-link;
	font-weight: 600;  
	text-decoration: none;
	padding: $spacing-small $spacing-medium;
	margin-right: $spacing-small;
	font-weight: 600;
}

a.roundup-buy, // needs to get phased out
a.button-fill {
	background-color: $color-main-link;
	color: $color-white !important;
}
