// ------------------------------------------------
// Posts: Roundups, Articles, Interviews
// ------------------------------------------------ 

.single-container {
	border: none; 
	font-size: 1.25rem; // 20
	line-height: 1.75rem; // 28
	border-radius: $rounded-corners;
	box-shadow: $shadow-global;
	width: $container-standard - 80px; // 1200 = 80px less than #container as 40px padding 
    margin: $spacing-medium auto $spacing-huge auto;
	padding: $spacing-huge 0; 
	height: auto;			

	// Small Desktop
	@media (max-width: $bp-desk) {
		width: 94%;  
        margin: 20px auto 40px auto;
		padding: 40px 3% 40px 3%; 
		height: auto;	

	}

	.blog-intro {
        padding-top: $spacing-medium;
        margin-bottom: $spacing-big;

        .blog-meta {
        	text-align: center;
        	font-size: 1rem;
		    @extend %section-tagline;
		}          
    }

	p {
		@extend %typography-p;
		@extend %padding-articles;

		img {
			padding: none;
		}
	}

	h1 {
		font-family: $font-fam-soft;
		@extend %section-title;
		color: #222;
		text-align: center;
		text-transform: none;
		letter-spacing: -0.125rem;
	}

	h2 {
		@extend %typography-h2;
		@extend %padding-articles;
	}

	h3 {
		@extend %typography-h3;
		@extend %padding-articles;

		@media (max-width: $bp-desksm) {
			margin-top: $spacing-huge;
		}
	}	

	h4 {
		@extend %typography-h4;
	}

	ul {
		@extend %typography-ul;
		@extend %padding-articles;
		margin-left: $spacing-big;

	} 

	ol {
		@extend %typography-ol;
		@extend %padding-articles;
		margin-left: $spacing-big;
	}

	img {
		max-width: 100%; 
		height: auto;
		margin-bottom: $spacing-medium;

		.alignnone {
			max-width: 100%; 
			height: auto;

		}

	}

	.wp-caption {
		// background-color: #111;
		max-width: 100%;
		text-align: center;

		p {
			@extend %section-tagline;
			margin-bottom: $spacing-huge;
			color: #AAA;
			font-size: 1rem;

			@media (max-width: $bp-tablet) {
				margin-bottom: $spacing-big;
			}

		}
		
	}


	.alignleft {
		margin: 0 $spacing-big $spacing-medium $spacing-mega;

		@media (max-width: $bp-notebook) {
		 	margin-left: $spacing-medium;
		}

		@media (max-width: $bp-tablet) {
			margin-left: $spacing-big;
		 	max-width: 300px;
		 	height: auto;
		}
		@media (max-width: $bp-mobile) {
			width: 90%;
			max-width: 90%;
		 	height: auto;
		 	margin: 0 5% $spacing-medium 5%;
		}		

	}

	.alignright {
		margin: 0 $spacing-mega $spacing-medium $spacing-medium;

		@media (max-width: $bp-notebook) {
		 	margin-right: $spacing-medium;
		}
		@media (max-width: $bp-tablet) {
			margin-right: $spacing-big;
		 	max-width: 300px;
		 	height: auto;
		}
		@media (max-width: $bp-mobile) {
			max-width: none;
		 	width: 92%;
		 	height: auto;
		 	margin: 0 $spacing-medium $spacing-medium $spacing-medium;
		}		
	}

	.aligncenter {
		display: block;
		margin: 0 auto;
		text-align: center;
	}

	.alignnone {
		margin-bottom: $spacing-medium ;
	}

	// for white edges on images
	.white-top-edge {
		border-top: 1px solid #EEE;
	}
	.white-bottom-edge {
		border-bottom: 1px solid #EEE;
	}

	// Horizontal rule
	hr {
		text-align: center;
		border: none;
		padding-top: $spacing-medium;
		padding-bottom: $spacing-medium;

		&:after {
			content: '• • •';
			display: inline-block;
			position: relative;
			top: 0;
			padding: 0;
			color: #999;
			font-size: 24px; 
			letter-spacing: 12px;
		}
	}
	
	blockquote  {
	 	@extend %font-bloc;
	    display: block;
	    width: 80%; 
	    margin: $spacing-huge auto;
	    border-left: none;

	    	@media (max-width: $bp-tablet) {
				margin: $spacing-big auto;
			}
 
	    p {
	    	font-family: $font-fam-bloc;
	    	font-size: 2.25rem;
	        line-height: 3rem;
	        margin-bottom: $spacing-medium;
	        color: #444 !important;    
		    padding-right: none !important;
		    padding-left: none  !important;

	        @media (max-width: $bp-tablet) {
	            font-size: 1.5rem;
	            line-height: 1.875rem;
	        }
	    }
	    
	}

	.twitter-tweet {
		@extend %padding-articles;
	}

	.gform_wrapper {
		@extend %padding-articles;
		
	}

	iframe {
		max-width: 100%;
	}

	pre {
		@extend %padding-articles;
	}

	.vid-wrapper { 
		width: 100%;
		height: auto;
		max-width: 880px;
		@extend %padding-articles;
		margin-bottom: $spacing-big;

		@media (max-width: $bp-desk) {
			width: auto;
			max-width: none;
		}

	}

	// Interview Head Images
	.interview-head {
		margin-right: $spacing-medium;
		margin-bottom: $spacing-tiny;
		padding-top: $spacing-tiny;

		@media (max-width: $bp-mobile) {
			max-width: 50px;
		}
	}

}

// ------------------------------------------------
// Roundup Buttons
// ------------------------------------------------ 

.roundup-buttons {
	display: block;
	height: $spacing-big;
	margin-bottom: $spacing-big;

	.roundup-demo {
		margin-top: 0;
	}
}

a.roundup-buy, // needs to get phased out
a.roundup-demo, // needs to get phased out
a.button-fill,
a.button-border { 
	text-align: center; 
	font-size: 0.875rem; // 14
	line-height: 0.875rem; 
	text-transform: uppercase; 
	display: inline-block;
	border-radius: $rounded-corners;
	border-width: 2px !important; // to override the 1px global border styles
	border-style: solid !important; // to override the dotted global border styles
	border-color: $color-main-link;
	font-weight: bold;  
	text-decoration: none;
	padding: $spacing-small $spacing-medium;
	margin-right: $spacing-small;
}

a.roundup-buy { // needs to get phased out
	float: left; 
	@extend %margin-buttons;
	color: #FFF; 
	background: $color-main-link;

	&:hover {
		color: #FFF; 
		background: $color-darker-link;
		border-color: $color-darker-link;
	}
}

a.roundup-demo { // needs to get phased out
	float: left; 
	margin-top: -1.75rem; // 28
	border: 2px solid $color-main-link; 
	color: $color-main-link;

	&:hover {
		border: 2px solid $color-darker-link; 
		color: $color-darker-link;
	}
}

// ------------------------------------------------
// Hide recommended hosting on hosting post
// ------------------------------------------------ 

body.postid-26235 .similar {
	display: none;
}

// ------------------------------------------------
// Squarespace article coupon
// ------------------------------------------------ 

.sqspcoupon {
	float: right;
	margin-right: $spacing-mega;
	margin-bottom: $spacing-big;
	margin-left: $spacing-big;
	border: 2px dashed $color-main-link; 
	font-size: 2rem;
	line-height: 2rem;
	font-weight: bold;
	color: $color-main-link;
	padding: $spacing-medium $spacing-big;

	@media (max-width: $bp-notebook ) {
		margin-right: $spacing-big;
		margin-bottom: $spacing-medium;
	}

	@media (max-width: $bp-mobile ) {
		padding: $spacing-small $spacing-medium;
		margin-left: $spacing-medium;
	}

}
