//---------------------------------------------------------------
// Footer Quote
//---------------------------------------------------------------

#footer-quote-container {
	background-image: url($background-quotes);
  	background-repeat: repeat; 

	#footer-quote {
		display: flex;
    	align-items: center;
    	@extend %font-smoothing;

    	.quote {
    		color: #666;
    		width: 100%;
    		text-align: center; // doesn't work?
    		font-style: italic;
    		font-family: Georgia;
    		font-size: 1.125rem;
    		line-height: 1.5rem;

    		i {
    			font-size: 0.875rem;
    			display: block;
    			padding-top: $spacing-small;
    			font-style: normal;
    			// font-family: $font-fam-prox;
    			color: #454545;
    		}
    	}
		
	}
}

//---------------------------------------------------------------
// Footer Promo
//---------------------------------------------------------------


#footer-promo-container {

	#footer-promo {
		padding: 0;
		width: 880px;
		display: flex;
		align-items: center;
		

			@media (max-width: $bp-tablet) { 
				flex-direction: column;
				// align-items: flex-end;
			}

		div {
			flex: 1 1 300px;

			@media (max-width: $bp-tablet) { 
				flex: 1 1 auto;
			}
		}

		.promo-info {
			text-align: right;

			@media (max-width: $bp-tablet) { 
				order: 1;
				text-align: center;
				padding-top: $spacing-big;
				padding-bottom: $spacing-medium;
			}

			.promo-info-title {
				display: block;
				margin-bottom: $spacing-tiny;

				a {
					color: #CCC;
					font-weight: 600;
					font-size: 1rem;
					
				}
			}

			.promo-info-description {
				display: block;

				a {
					color: #666;
					font-size: 0.875rem;
					line-height: 1rem;
				}
			}
		}

		.promo-image {
			text-align: center;
			align-items: flex-end;
			padding-top: $spacing-small;

			@media (max-width: $bp-tablet) { 
				order: 3;
				padding-top: $spacing-medium;
			}

			img {
				max-width: 240px; 
				height: auto;
			}
		}

		.promo-buttons {
			align-items: center;
			padding-top: $spacing-small;
			text-align: left;

			@media (max-width: $bp-tablet) { 
				order: 2;
			}

			a {
				@extend %button;
				color: #666; 
				border-color: #666; 
			}

			a:hover { 
				color: $color-main-link;
				border: 1px solid $color-main-link;
			}
		}
		
	}
}


//---------------------------------------------------------------
// Footer Bottom
//---------------------------------------------------------------

#footer-bottom-container {
	border-top: 1px solid #222;

	#footer-lists {
		display: flex;

		@media (max-width: $bp-tablet) { 
			flex-wrap: wrap;
		}

		h3 {
			color: #FFF;
			font-weight: 600; 
			text-transform: uppercase;
		}

		.footer-column {
			width: 20%;
			min-height: auto;
			margin-bottom: $spacing-big;
			// padding: 0 $spacing-medium;

			@media (max-width: $bp-tablet) { 
				width: 50%;
			}
			
			h3 {
				text-transform: uppercase; 
				margin: 0 0 $spacing-medium $spacing-medium;
			}

			ul {
				font-size: 0.8125rem; // 13
				line-height:  1.5rem; // 24
				color: #666;
				padding: 0 0 0 $spacing-medium;

				li a {
					color: #666;

					&:hover { 
						text-decoration: none;
						color: $color-main-link;
					}

				}

				li:nth-of-type(1n+9) { // Hide all lists with more than 8 items
					display: none;
				}


			}
		}

		@media (max-width: $bp-tablet) { // Hide trending column on Tablet
			#trending {
				display:none;
			}
		}
	}
}

