// ------------------------------------------------
// Design Elements
// ------------------------------------------------ 

.single-element {
    width: $container-standard; 
    max-width: 100%;
    margin: $spacing-medium auto $spacing-big auto;
    text-align: center;
    background-color: #FFF;
    padding: 0; 
    height: auto;       
    font-size: 1rem;
    line-height: 1.25rem;
    min-height: 1000px;
    border-radius: $rounded-corners;

    @media (max-width: $bp-tablet) {
        margin-top: 0;
    }   

    // ------------------------------------------------
    // Globals
    // ------------------------------------------------ 

    img {
        max-width: 100%;
        height: auto;
    }

    .element-intro {
        padding: $spacing-medium;

        @media (max-width: $bp-mobile) {
            padding: $spacing-small;
        }
        
        .element-padding {
            padding-top: $spacing-huge;
            @extend %section-inner-grey;

            .element-tagline {
                @extend %section-tagline;
            }
            
            .element-title {
                @extend %section-title;

                h1 {
                    font-weight: 600;
                }

            }

            .element-description {
                @extend %section-description;
            }

        }

    }    

    .element-content { // The big images

    }

    .element-submit {

        padding: 0 $spacing-medium $spacing-medium $spacing-medium;

    }

}