//---------------------------------------------------------------
// Footer Newsletter - https://emailoctopus.com/lists/804e381c-8793-11e6-9b6d-02b6b4f78f99/members
//---------------------------------------------------------------

#footer-newsletter {
	background-color: $test4;

	.newsletter-title {

	}

	.newsletter-lower-wrapper {

		display: flex;
	    // flex-direction: column;
	    // lex-wrap: wrap;

		.newsletter-ebook {
			order:1; 
			background:$test1; 	
			width: 33%;
		}

		.newsletter-pitch {
			order:2; 
			background:$test2; 
			height:300px;		
			width: 33%;

			/* List styling */
			.ul {
			  margin-top: 0;
			  padding-left: 2em;
			  list-style-type: none;
			}
			li:before {
			  position: absolute;
			  margin-left: -1.3em;
			  font-weight: bold;
			}
			li.tick:before {
			  content: "\2713";
			  color: darkgreen;
			}

		}


		.newsletter-form {
			order:3; 
			background:$test3; 
			height:300px;			
			width: 33%;

			.email-octopus-form-row-hp {
				display: none;
			}

		}

	}
}


//---------------------------------------------------------------
// Footer Social - svgicons.sparkk.fr
//---------------------------------------------------------------

.svg-icon {
	display: block;
	padding: 5px;
	width: 20px;
	height: 20px;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
	fill: #666;
}

.svg-icon:hover path,
.svg-icon:hover polygon,
.svg-icon:hover rect {
	fill: #FFF;
}

.svg-icon circle {
	stroke: #666;
	stroke-width: 1;
}


#footer-social {
	display: flex;
	width: 100%;
	// background: #ff33cc;
	text-align: center;
	display: flex;
	align-items: center;
	

		a {
			display: inline-block;
			// padding-top: 5px;
			margin: 0 5px;
			width: 30px; 
			height: 30px;
			border-radius: 15px;
			background: #222;
			cursor: pointer;
		}

		a.sub-r:hover {background: $color-rss;}
		a.sub-h:hover {background: $color-producthunt;}
		a.sub-f:hover {background: $color-facebook;}
		a.sub-t:hover {background: $color-twitter;}
		a.sub-g:hover {background: $color-googleplus;}
		a.sub-p:hover {background: $color-pinterest;}
		a.sub-d:hover {background: $color-dribbble;}	


	
}


