//---------------------------------------------------------------
// Footer Newsletter
//---------------------------------------------------------------

#footer-newsletter {
	// background-color: $test4;

	.newsletter-title {
		text-align: center;
		@extend %typography-h3;
		color: #DDD;
		max-width: 90%;
		margin: 0 auto $spacing-medium auto;

	}

	.newsletter-pitch {
		// background:$test2; 	
		text-align: center;
		@extend %typography-p;
		color: #AAA;
		max-width: 90%;
		margin: 0 auto $spacing-big auto;

		ul {
			margin: 0; 
			padding: 0;
			list-style: none; 

			li {
				display: inline-block;
				// margin-right: $spacing-small;
			}
		}

		.tick {
			color: $color-main-link;
			margin-left: $spacing-small;	
			margin-right: -0.125rem; // -2
		}
		.ft {
			margin-left: 0;
		}
	}

	.newsletter-lower-wrapper {

	    @media (max-width: $bp-tablet) {
	    	width: 100%;
	    	margin: 0 auto;
		}

		.newsletter-button {
			text-align: center;

			a {
				height: 2.5rem; // 40
				width: 12.5rem; // 200
				padding: 0.5rem 1rem;
				margin: 0;
				margin-left: -0.125rem; // -2
				border: 1px solid $color-main-link;
				background-color: $color-main-link;
				border-radius: 4px;
				border-radius: 4px; 
				color: #FFF;
				font-weight: bold;
				letter-spacing: -0.2px;

				@media (max-width: $bp-tablet) {
					width: 94%;
					margin-left: 0;
					float: none;
					border-radius: 4px;

				}
			}

			a:hover {
				cursor: pointer;
				background-color: $color-darker-link;
				border: 1px solid $color-darker-link;
			}

		}

		.newsletter-ebook {
			// background:$test3; 
			clear: both;
			display: block;
			padding-top: $spacing-big;
			text-align: center;
			max-width: 90%;
			margin: 0 auto 0 auto;

			img {
				max-width: 500px;
				width: 100%; 
				height: auto;
			}
		}

	}
}


// Newsletter Form styles reused on on Free Template Modal
.newsletter-form {
	// background:$test3; 
	width: 37.5rem; // 600
	margin: 0 auto $spacing-medium auto;
	height: auto;
	align-items: top;
	font-size: 1rem;
	line-height: 1rem;

	@media (max-width: $bp-tablet) {
		width: 100%;
	}

	.email-octopus-form-wrapper {
		width: 100%;
		height: 2.5rem; // 40

		// Post-submit-message
		p.email-octopus-success-message,
		p.email-octopus-error-message {
			@extend %typography-p;
			text-align: center;

			@media (max-width: $bp-tablet) {
					width: 90%;
					margin-right: 5%;
					margin-left: 5%;
			}

		}
		p.email-octopus-success-message {
			color: #68d851;
		}
		p.email-octopus-error-message {
			color: #ff5b5b;
		}

		.email-octopus-form-row {
			height: 2.5rem; // 40
			width: 12.5rem; // 200
			float: left;
			color: #666;
			// background:$test1;

				@media (max-width: $bp-tablet) {
					float: none;
					width: 80%;
					margin-right: 10%;
					margin-left: 10%;
					margin-bottom: $spacing-small;
					text-align: center;
				}

				@media (max-width: $bp-mobile) {
					width: 90%;
					margin-right: 5%;
					margin-left: 5%;
				}

			input {
				width: 10.88rem; // 174 = 200 - 26 (padding 12*2 - botder 1*2)
				height: 1.875rem; // 30
				padding: 0.25rem 0.75rem; // 4 12
				border: 1px solid #333333;
				background-color: #252525;
				margin: 0;
				color: #666;

				@media (max-width: $bp-tablet) {
					padding-left: 2%;
					padding-right: 2%;
					width: 90%;
				}
			}

			input:focus {
				// border-color: #666666;
				color: #999;
				background-color: #333333;
			}

		}

		.fn  input { // First Name
				border-top-left-radius: 4px;
				border-bottom-left-radius: 4px; 
				// border-right: none;

				@media (max-width: $bp-tablet) {
					border-radius: 4px;
				}
		}

		.ea  input { // Email Address
			border-left: none;
			border-right: none;

				@media (max-width: $bp-tablet) {
					border-radius: 4px;
					border: 1px solid #333333;
				}

		}

		.email-octopus-form-row-subscribe {
			float: left;
			height: 2.5rem; // 40
			width: 12.5rem; // 200

			@media (max-width: $bp-tablet) {
				width: 80%;
				margin-right: 10%;
				margin-left: 10%;
				margin-bottom: $spacing-medium;
				text-align: center;
			}

			@media (max-width: $bp-mobile) {
				width: 90%;
				margin-right: 5%;
				margin-left: 5%;
			}

			button {
				height: 2.5rem; // 40
				width: 12.5rem; // 200
				padding: 0;
				margin: 0;
				margin-left: -0.125rem; // -2
				border: 1px solid $color-main-link;
				background-color: $color-main-link;
				border-top-right-radius: 4px;
				border-bottom-right-radius: 4px; 
				color: #FFF;
				font-weight: bold;
				letter-spacing: -0.2px;

				@media (max-width: $bp-tablet) {
					width: 94%;
					margin-left: 0;
					float: none;
					border-radius: 4px;

				}
			}

			button:hover {
				cursor: pointer;
				background-color: $color-darker-link;
				border: 1px solid $color-darker-link;
			}

		}

		.email-octopus-form-row-hp {
			display: none;
		}

	}

}


//---------------------------------------------------------------
// Footer Bottom - svgicons.sparkk.fr
//---------------------------------------------------------------

#footer-bottom {
	width: 100%;
	height: 1.875rem; // 30
	padding: $spacing-medium 0;
	border-top: 1px solid #252525;
	display: flex; 

	#footer-links {
		order: 1; 
		width: 33%;
		height: 1.875rem; // 30
		vertical-align: center;

		@media (max-width: $bp-tablet) {
			width: 50%;
			// text-align: right;			
		}

		ul {
			margin: 0; 
			padding: 0.3125rem 0 0 $spacing-medium; // 5
			list-style: none; 

			li {
				display: inline-block;
				margin-right: $spacing-small;
				a {
					color: $color-footer-text;
				}
				a:hover {
					color: $color-main-link;
				}
			}
		}


	}

	#footer-social {
		order: 2; 
		width: 34%;
		display: flex;
		height: 1.875rem; // 30
		justify-content: center;

		@media (max-width: $bp-tablet) {
			display: none;
		}

		.svg-icon {
			display: block;
			padding: 0.25rem; // 4
			width: 1rem; // 16
			height: 1rem; // 16
		}

		.svg-icon path,
		.svg-icon polygon,
		.svg-icon rect {
			fill: #666;
		}

		.svg-icon:hover path,
		.svg-icon:hover polygon,
		.svg-icon:hover rect {
			fill: #FFF;
		}

		.svg-icon circle {
			stroke: #666;
			stroke-width: 1;
		}

		a.sub-r svg {
			fill: #666;

			&:hover {
				fill: #FFF;
			}
		}


			a {
				display: inline-block;
				margin: 0 0.3125rem; // 5
				width: 1.5rem; // 24
				height: 1.5rem; // 24
				border-radius: 0.75rem; // 12
				background: #222;
				cursor: pointer;
			}

			a.sub-r:hover {background: $color-rss;}
			a.sub-h:hover {background: $color-producthunt;}
			a.sub-f:hover {background: $color-facebook;}
			a.sub-i:hover {background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);}			
			a.sub-t:hover {background: $color-twitter;}
			a.sub-p:hover {background: $color-pinterest;}
			a.sub-y:hover {background: $color-youtube;}	

	}

	#footer-credit {
		order: 3; 
		width: 33%;
		height: 1.875rem; // 30	
		text-align: right;
		color: $color-footer-text;
		padding: 0.3125rem 0 0 0; // 5

		.hitdelete {
			margin-right: $spacing-medium;
		}

		a {
			color: $color-footer-text;
		}
		a:hover {
			color: $color-main-link;
		}

		@media (max-width: $bp-tablet) {
			width: 50%;
		}

	}

}

