//-------------------------------------------------------------------------------
// Everything here will be eliminated after removal of a few sections
//-------------------------------------------------------------------------------

/* Search */
.results-search {width: 260px; display: block;}
.results-search .search {height:22px;background: none; border:1px solid #CCC; padding: 5px 10px; overflow: hidden; width: 245px; margin: 6px 0 0 0;}
.results-search .search:hover {background: none;}
.results-search .search .search-field {background: none;  font-size:16px; line-height: 16px; color: #666; height: 20px; width:240px; padding: 0 0 2px 0; margin: 0;vertical-align: top}
.results-search .search .search-field:hover {} 
.results-search .search .search-button{padding: 3px;opacity: 0.5}
.results-search .search .search-button:hover {opacity: 1}
.results-search .entry-search {color:#fff}
.results-search .search input[type=text] {border: none !important;}

/* Favorites */
.favorites-demo {}
.favorites-demo .favorites-demo-col {float: left; width: 400px; height: auto; display: block; margin-right: 40px; margin-bottom: 40px; }
.favorites-demo .favorites-demo-col img {margin-bottom: 20px; }
.favorites-demo .favorites-demo-col-right {margin-right: 0;}



//-------------------------------------------------------------------------------
// Favorites
//-------------------------------------------------------------------------------
.favorites-demo {color: #333;}
.favorites-demo .favorites-demo-col {color: #666;}


/* Dashboard */
.dashboard-section {display: block; margin-bottom: 30px; margin-top: 20px;}