
// Global Form Stuff
.gform_wrapper {
	float: left;
	margin: 0 !important; 
	max-width: 60% !important;
	width: 60% !important;

	ul li {
		padding: 0 !important; 
		margin: 0 !important;	
		margin-bottom: 30px !important;

		ul li {
			margin-bottom: 10px !important;
		}	
	}

	.top_label {

		.gfield_label {
			font-size: 18px !important; 
			padding: 10px 0 2px 0; 
			color: #333;
			margin-top: 30px !important;	
		}

		.gfield_description {
			font-size: 14px !important; 
			padding: 10px 0 2px 0; 
			color: #777;
		}

		input.medium {
			min-height: 30px !important;
			font-size: 18px !important; 
			line-height: 22px !important; 	
		}

	}

}

.gform_body {
	padding: 0 !important; 
	margin: 0 !important;
	font-size: 16px !important; 
	line-height: 20px !important;
}


.gform_body input,
input[type=url],
 .gform_body textarea {
	border: none; 
	background: none;
	border: 1px solid #CCC; 
	margin: 0 !important; 
	text-decoration: none; 
	color: #666;
	border-radius: $rounded-corners;
}
.gform_wrapper input[type=text],
.gform_wrapper input[type=email],
.gform_wrapper .ginput_complex input[type=password],
.gform_wrapper .ginput_complex input[type=url]	{
	font-size: 24px !important;
	line-height: 24px !important;
	padding: 0.5% 1% !important; 
}
.gform_wrapper .ginput_complex label {
padding: 0 0 0 0;
margin: 0 0 0 0;	
font-size: 14px !important;
letter-spacing: 0 !important;
}
.gform_wrapper input.medium {
width: 95% !important;
}
.gform_wrapper .ginput_complex .ginput_left {
float: none  !important; 
width: 100% !important;
}
.gform_wrapper .ginput_complex .ginput_right {
float: none  !important; 
width: 100% !important;
}

// Text Areas
 .gform_body textarea {
 	font-size: 18px !important; 
	line-height: 22px !important; 
	padding: 0.5% 1% !important; 
 }

// DropDown Lists
.gfield_select {
	font-size: 18px !important; 
	line-height: 22px !important; 
}


// Radio Buttons
.gform_wrapper .gfield_radio  {
	padding-top: 10px !important;
}
.gform_wrapper .gfield_radio li label {
font-size: 18px !important;
line-height: 14px !important;
}
.gform_wrapper .gfield_radio li input[type=radio] {
margin-left: 3px !important;
margin-bottom: 15px !important;
}
.gform_wrapper .gfield_radio ul li {
margin-bottom: 10px !important;
}


// Checkboxes
.gform_wrapper .gfield_checkbox  {
	padding-top: 10px !important;
}
.gform_wrapper .gfield_checkbox li label {
font-size: 18px !important;
line-height: 14px !important;
}
.gform_wrapper .gfield_checkbox li input[type=checkbox] {
margin-left: 3px !important;
margin-bottom: 15px !important;
}
.gform_wrapper .gfield_checkbox ul li {
margin-bottom: 10px !important;
}



// Form Buttons
.gform_button,
.gform_next_button,
.gform_previous_button {
	text-decoration: none !important;  
	vertical-align: top !important;
	display: block !important; 
	width: 33% !important; 
	color: #FFF !important; 
	height: 40px !important; 
	padding: 1% 0 !important; 
	text-align: center !important;
	text-decoration:none !important;
	text-shadow: none !important;  
	text-transform: uppercase !important; 
	font-size: 16px !important; 
	line-height: 20px !important;  
	background:$color-main-link !important; 
	border: none !important; 
	cursor: pointer !important;	
}
.gform_button:hover,
.gform_next_button:hover,
.gform_previous_button:hover {
	color: #FFF !important; 
	background: #EC3D80 !important; 
	border: none !important; 
}

// Next / Previous Buttons
.gform_next_button,
.gform_previous_button {	

}

// Next / Previous Buttons
.gform_previous_button {	
	 background: #CCC !important; 
	 float: left !important;

}

// Form Submit Buttons
.gform_button {
 	float: right  !important;
}

// Form Submit Buttons on Join Page
.page-template-page-with-ad-php .gform_button {
	 float: left  !important;
}


// Success Message
.gform_confirmation_wrapper {
 	font-size: 18px !important; 
	line-height: 24px !important; 
	background-color: #fbfcc6 !important;
	padding: 20px !important;
}



// ------------------------------------------------
// Submission Page
// ------------------------------------------------ 

@media (max-width: $bp-tablet) {	
	.gform_wrapper {
		max-width: 100% !important;	
		width: 100% !important; 
		float: none;
	}
}	