/* ------------------------------------------------ */
/* Big Screens */
/* ------------------------------------------------ */
@media screen and (min-width: 1580px) {
.single-container {min-height: 800px;}	
}	

/* ------------------------------------------------ */
/* Smaller Desktops & Notebooks */
/* ------------------------------------------------ */

@media screen and (max-width: $bp-desksm) {

	/* Archives */
	.browsing .browsing-nav {width: 100%;}	

	.notice {width: 94%; padding: 1.5% 2%;}

	/* Reviews */
	.review .review-meta {width: 92%; padding: 4%;}
	.review .review-meta-right {float: right; width: 300px; }
	.review .review-meta-left {}
	.review .review-screenshot img {width: 100%; height: auto;}	

	/* Roundups */
	.single-content img {max-width: 100%; height: auto;}
	.single-content img.alignleft {width: 300px; height: auto;}

	/* Favorites */
	.favorites-demo .favorites-demo-col {float: left; width: 32%; margin-right: 2%;}
	.favorites-demo .favorites-demo-col img {width: 100%; height: auto; }
	.favorites-demo .favorites-demo-col-right {margin-right: 0;}

}

/* ------------------------------------------------ */
/* Mobile with dropdown left nav */
/* ------------------------------------------------ */

@media screen and (max-width: $bp-tablet) {	

	/* Archives */
	.browsing .browsing-nav {width: 100%;}		
	.browsing .browsing-nav-left {width: 50%;}	
	.browsing .browsing-nav-right {width: 50%;}	

	.review-launch a {width: 100%;}
	.review .comments-tweet-email {padding: 10px 10px 0 10px;}	
	.floating-pagi a {width: 30px; height: 30px;}
	.floating-pagi svg {width: 30px; height: 30px;}

	/* Resources */
	.single-container .comments-tweet-email {padding: 0;}

	/* Roundups */
	.single-content img {max-width: 100%; height: auto;}
	.single-content img.alignleft {width: 360px; height: auto;}
	.single-container .block-right {display: none;}

	/* Pages */
	.page-template-page-with-ad-php #content .single-container {margin-top: 20px;}

	/* Join */
	.join-benefits {width: 90%; padding: 4% 4%; float: none; margin-bottom: 40px;}
	.gform_wrapper {max-width: 100% !important;	width: 100% !important; float: none;}

}
